{
  "openapi": "3.0.1",
  "info": {
    "title": "HMPPS Remand and Sentencing API",
    "description": "Recording Remand and sentencing",
    "contact": {
      "name": "HMPPS Digital Studio",
      "email": "feedback@digital.justice.gov.uk"
    },
    "version": "2024-10-11.2606.1b8c939"
  },
  "servers": [
    {
      "url": "https://remand-and-sentencing-api.hmpps.service.justice.gov.uk",
      "description": "Prod"
    },
    {
      "url": "https://remand-and-sentencing-api-preprod.hmpps.service.justice.gov.ukk",
      "description": "Preprod"
    },
    {
      "url": "https://remand-and-sentencing-api-dev.hmpps.service.justice.gov.uk",
      "description": "Development"
    },
    {
      "url": "http://localhost:8080",
      "description": "Local"
    }
  ],
  "tags": [
    {
      "name": "recall-controller",
      "description": "Recall"
    },
    {
      "name": "sentence-type-controller",
      "description": "Sentence Type"
    },
    {
      "name": "appearance-outcome-controller",
      "description": "Appearance outcome"
    },
    {
      "name": "court-appearance-controller",
      "description": "Court Appearances"
    },
    {
      "name": "person-controller",
      "description": "Get person details"
    },
    {
      "name": "charge-outcome-controller",
      "description": "Charge outcome"
    },
    {
      "name": "charge-controller",
      "description": "Charges"
    },
    {
      "name": "sentence-controller",
      "description": "Sentences"
    },
    {
      "name": "court-case-controller",
      "description": "Court case"
    }
  ],
  "paths": {
    "/recall/{recallUuid}": {
      "get": {
        "tags": [
          "recall-controller"
        ],
        "summary": "Retrieve a recall",
        "description": "This endpoint will retrieve the details of a recall",
        "operationId": "getRecall",
        "parameters": [
          {
            "name": "recallUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorised, requires a valid Oauth2 token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recall"
                }
              }
            }
          },
          "404": {
            "description": "Not found if no recall uuid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recall"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, requires an appropriate role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recall"
                }
              }
            }
          },
          "200": {
            "description": "Returns recall details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recall"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "recall-controller"
        ],
        "summary": "Update a recall (or create one with the passed in details)",
        "description": "This endpoint will update a recall (or create one with the passed in details)",
        "operationId": "updateRecall",
        "parameters": [
          {
            "name": "recallUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRecall"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorised, requires a valid Oauth2 token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaveRecallResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, requires an appropriate role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaveRecallResponse"
                }
              }
            }
          },
          "200": {
            "description": "Returns court case UUID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaveRecallResponse"
                }
              }
            }
          }
        }
      }
    },
    "/court-case/{courtCaseUuid}": {
      "get": {
        "tags": [
          "court-case-controller"
        ],
        "summary": "Retrieve court case details",
        "description": "This endpoint will retrieve court case details",
        "operationId": "getCourtCaseDetails",
        "parameters": [
          {
            "name": "courtCaseUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns court case details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourtCase"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised, requires a valid Oauth2 token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourtCase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, requires an appropriate role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourtCase"
                }
              }
            }
          },
          "404": {
            "description": "Not found if no court case at uuid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourtCase"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "court-case-controller"
        ],
        "summary": "Create Court case",
        "description": "This endpoint will create a court case",
        "operationId": "putCourtCase",
        "parameters": [
          {
            "name": "courtCaseUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCourtCase"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorised, requires a valid Oauth2 token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCourtCaseResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, requires an appropriate role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCourtCaseResponse"
                }
              }
            }
          },
          "201": {
            "description": "Returns court case UUID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCourtCaseResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCourtCaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/court-appearance/{appearanceUuid}": {
      "get": {
        "tags": [
          "court-appearance-controller"
        ],
        "summary": "Retrieve court appearance details",
        "description": "This endpoint will retrieve court appearance details",
        "operationId": "getCourtAppearanceDetails",
        "parameters": [
          {
            "name": "appearanceUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns court appearance details",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CourtAppearance"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised, requires a valid Oauth2 token",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CourtAppearance"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, requires an appropriate role",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CourtAppearance"
                }
              }
            }
          },
          "404": {
            "description": "Not found if no court appearance at uuid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CourtAppearance"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "court-appearance-controller"
        ],
        "summary": "Create Court appearance",
        "description": "This endpoint will create a court appearance in a given court case",
        "operationId": "updateCourtAppearance",
        "parameters": [
          {
            "name": "appearanceUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCourtAppearance"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorised, requires a valid Oauth2 token",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCourtAppearanceResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, requires an appropriate role",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCourtAppearanceResponse"
                }
              }
            }
          },
          "201": {
            "description": "Returns court case UUID",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCourtAppearanceResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCourtAppearanceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/recall": {
      "post": {
        "tags": [
          "recall-controller"
        ],
        "summary": "Create a recall",
        "description": "This endpoint will create a recall",
        "operationId": "createRecall",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRecall"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorised, requires a valid Oauth2 token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaveRecallResponse"
                }
              }
            }
          },
          "201": {
            "description": "Returns recall UUID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaveRecallResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, requires an appropriate role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaveRecallResponse"
                }
              }
            }
          }
        }
      }
    },
    "/court-case": {
      "post": {
        "tags": [
          "court-case-controller"
        ],
        "summary": "Create Court case",
        "description": "This endpoint will create a court case",
        "operationId": "createCourtCase",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCourtCase"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorised, requires a valid Oauth2 token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCourtCaseResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, requires an appropriate role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCourtCaseResponse"
                }
              }
            }
          },
          "201": {
            "description": "Returns court case UUID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCourtCaseResponse"
                }
              }
            }
          }
        }
      }
    },
    "/court-appearance": {
      "post": {
        "tags": [
          "court-appearance-controller"
        ],
        "summary": "Create Court appearance",
        "description": "This endpoint will create a court appearance in a given court case",
        "operationId": "createCourtAppearance",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCourtAppearance"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorised, requires a valid Oauth2 token",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCourtAppearanceResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, requires an appropriate role",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCourtAppearanceResponse"
                }
              }
            }
          },
          "201": {
            "description": "Returns court case UUID",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCourtAppearanceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sentence/{sentenceUuid}": {
      "get": {
        "tags": [
          "sentence-controller"
        ],
        "summary": "Retrieve sentence details",
        "description": "This endpoint will retrieve sentence details",
        "operationId": "getChargeDetails",
        "parameters": [
          {
            "name": "sentenceUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not found if no charge at uuid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Sentence"
                }
              }
            }
          },
          "200": {
            "description": "Returns sentence details",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Sentence"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised, requires a valid Oauth2 token",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Sentence"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, requires an appropriate role",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Sentence"
                }
              }
            }
          }
        }
      }
    },
    "/sentence-type/{sentenceTypeUuid}": {
      "get": {
        "tags": [
          "sentence-type-controller"
        ],
        "summary": "Get Sentence type by UUID",
        "description": "This endpoint will retrieve sentence type by UUID",
        "operationId": "getSentenceTypeByUuid",
        "parameters": [
          {
            "name": "sentenceTypeUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns sentence",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SentenceType"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised, requires a valid Oauth2 token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SentenceType"
                }
              }
            }
          },
          "404": {
            "description": "Not found if no sentence type at uuid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SentenceType"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, requires an appropriate role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SentenceType"
                }
              }
            }
          }
        }
      }
    },
    "/sentence-type/uuid/multiple": {
      "get": {
        "tags": [
          "sentence-type-controller"
        ],
        "summary": "get all sentence types by uuids",
        "description": "This endpoint will get all sentence types by uuids",
        "operationId": "getSentenceTypesByIds",
        "parameters": [
          {
            "name": "uuids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorised, requires a valid Oauth2 token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SentenceType"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, requires an appropriate role",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SentenceType"
                  }
                }
              }
            }
          },
          "200": {
            "description": "Returns sentence types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SentenceType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sentence-type/search": {
      "get": {
        "tags": [
          "sentence-type-controller"
        ],
        "summary": "Search all sentence types",
        "description": "This endpoint will search all sentence types",
        "operationId": "searchSentenceTypes",
        "parameters": [
          {
            "name": "age",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "convictionDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorised, requires a valid Oauth2 token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SentenceType"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, requires an appropriate role",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SentenceType"
                  }
                }
              }
            }
          },
          "200": {
            "description": "Returns sentence types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SentenceType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/recall/person/{prisonerId}": {
      "get": {
        "tags": [
          "recall-controller"
        ],
        "summary": "Retrieve all recalls for a person",
        "description": "This endpoint will retrieve  all recalls for a person",
        "operationId": "getRecallsByPrisonerId",
        "parameters": [
          {
            "name": "prisonerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all recalls for person",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Recall"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised, requires a valid Oauth2 token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Recall"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, requires an appropriate role",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Recall"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/person/{prisonerId}": {
      "get": {
        "tags": [
          "person-controller"
        ],
        "summary": "Retrieve person details",
        "description": "This endpoint will retrieve person details",
        "operationId": "getPersonDetails",
        "parameters": [
          {
            "name": "prisonerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorised, requires a valid Oauth2 token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, requires an appropriate role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonDetails"
                }
              }
            }
          },
          "200": {
            "description": "Returns person details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonDetails"
                }
              }
            }
          }
        }
      }
    },
    "/court-case/{courtCaseUuid}/latest-appearance": {
      "get": {
        "tags": [
          "court-case-controller"
        ],
        "summary": "Retrieve latest court appearance of court case",
        "description": "This endpoint will retrieve latest court appearance of court case",
        "operationId": "getLatestAppearanceDetails",
        "parameters": [
          {
            "name": "courtCaseUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorised, requires a valid Oauth2 token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourtAppearance"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, requires an appropriate role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourtAppearance"
                }
              }
            }
          },
          "200": {
            "description": "Returns latest appearance details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourtAppearance"
                }
              }
            }
          },
          "404": {
            "description": "Not found if no court case at uuid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourtAppearance"
                }
              }
            }
          }
        }
      }
    },
    "/court-case/search": {
      "get": {
        "tags": [
          "court-case-controller"
        ],
        "summary": "Retrieve all court cases for person",
        "description": "This endpoint will retrieve all court cases for a person",
        "operationId": "searchCourtCases",
        "parameters": [
          {
            "name": "prisonerId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns court cases",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageCourtCase"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised, requires a valid Oauth2 token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageCourtCase"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, requires an appropriate role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageCourtCase"
                }
              }
            }
          }
        }
      }
    },
    "/charge/{chargeUuid}": {
      "get": {
        "tags": [
          "charge-controller"
        ],
        "summary": "Retrieve charge details",
        "description": "This endpoint will retrieve charge details",
        "operationId": "getChargeDetails_1",
        "parameters": [
          {
            "name": "chargeUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not found if no charge at uuid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Charge"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised, requires a valid Oauth2 token",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Charge"
                }
              }
            }
          },
          "200": {
            "description": "Returns charge details",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Charge"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, requires an appropriate role",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Charge"
                }
              }
            }
          }
        }
      }
    },
    "/charge-outcome/{outcomeUuid}": {
      "get": {
        "tags": [
          "charge-outcome-controller"
        ],
        "summary": "Get charge outcome by UUID",
        "description": "This endpoint will retrieve charge outcome by UUID",
        "operationId": "getChargeOutcomeByUuid",
        "parameters": [
          {
            "name": "outcomeUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not found if no charge outcome at uuid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised, requires a valid Oauth2 token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeOutcome"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, requires an appropriate role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeOutcome"
                }
              }
            }
          },
          "200": {
            "description": "Returns charge outcome",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/charge-outcome/uuid/multiple": {
      "get": {
        "tags": [
          "charge-outcome-controller"
        ],
        "summary": "get all charge outcomes by uuids",
        "description": "This endpoint will get all charge outcomes by uuids",
        "operationId": "getChargeOutcomesByIds",
        "parameters": [
          {
            "name": "uuids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns charge outcomes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChargeOutcome"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised, requires a valid Oauth2 token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChargeOutcome"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, requires an appropriate role",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChargeOutcome"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/charge-outcome/all": {
      "get": {
        "tags": [
          "charge-outcome-controller"
        ],
        "summary": "Get all charge outcomes",
        "description": "This endpoint will get all charge outcomes",
        "operationId": "getAllChargeOutcomes",
        "responses": {
          "200": {
            "description": "Returns charge outcomes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChargeOutcome"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised, requires a valid Oauth2 token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChargeOutcome"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, requires an appropriate role",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChargeOutcome"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/appearance-outcome/{outcomeUuid}": {
      "get": {
        "tags": [
          "appearance-outcome-controller"
        ],
        "summary": "Get appearance outcome by UUID",
        "description": "This endpoint will retrieve appearance outcome by UUID",
        "operationId": "getAppearanceOutcomeByUuid",
        "parameters": [
          {
            "name": "outcomeUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns appearance outcome",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourtAppearanceOutcome"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised, requires a valid Oauth2 token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourtAppearanceOutcome"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, requires an appropriate role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourtAppearanceOutcome"
                }
              }
            }
          },
          "404": {
            "description": "Not found if no appearance outcome at uuid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourtAppearanceOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/appearance-outcome/all": {
      "get": {
        "tags": [
          "appearance-outcome-controller"
        ],
        "summary": "Get all appearance outcomes",
        "description": "This endpoint will get all appearance outcomes",
        "operationId": "getAllAppearanceOutcomes",
        "responses": {
          "200": {
            "description": "Returns appearance outcomes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CourtAppearanceOutcome"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised, requires a valid Oauth2 token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CourtAppearanceOutcome"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, requires an appropriate role",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CourtAppearanceOutcome"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateRecall": {
        "required": [
          "createdByUsername",
          "prisonerId",
          "recallDate",
          "recallType",
          "returnToCustodyDate"
        ],
        "type": "object",
        "properties": {
          "prisonerId": {
            "type": "string"
          },
          "recallDate": {
            "type": "string",
            "format": "date"
          },
          "returnToCustodyDate": {
            "type": "string",
            "format": "date"
          },
          "recallType": {
            "type": "string",
            "enum": [
              "FOURTEEN_DAY_FIXED_TERM_RECALL",
              "TWENTY_EIGHT_DAY_FIXED_TERM_RECALL",
              "STANDARD_RECALL",
              "HDC_RECALL"
            ]
          },
          "createdByUsername": {
            "type": "string"
          }
        }
      },
      "SaveRecallResponse": {
        "required": [
          "recallUuid"
        ],
        "type": "object",
        "properties": {
          "recallUuid": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "CaseReferenceLegacyData": {
        "required": [
          "offenderCaseReference",
          "updatedDate"
        ],
        "type": "object",
        "properties": {
          "offenderCaseReference": {
            "type": "string"
          },
          "updatedDate": {
            "type": "string"
          }
        }
      },
      "ChargeLegacyData": {
        "type": "object",
        "properties": {
          "offenderChargeId": {
            "type": "string"
          },
          "bookingId": {
            "type": "string"
          },
          "postedDate": {
            "type": "string"
          },
          "nomisOutcomeCode": {
            "type": "string"
          },
          "outcomeDescription": {
            "type": "string"
          }
        }
      },
      "CourtAppearanceLegacyData": {
        "type": "object",
        "properties": {
          "eventId": {
            "type": "string"
          },
          "caseId": {
            "type": "string"
          },
          "postedDate": {
            "type": "string"
          },
          "nomisOutcomeCode": {
            "type": "string"
          },
          "outcomeDescription": {
            "type": "string"
          }
        }
      },
      "CourtCaseLegacyData": {
        "required": [
          "caseReferences"
        ],
        "type": "object",
        "properties": {
          "caseReferences": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CaseReferenceLegacyData"
            }
          }
        }
      },
      "CreateCharge": {
        "required": [
          "offenceCode",
          "offenceStartDate"
        ],
        "type": "object",
        "properties": {
          "chargeUuid": {
            "type": "string",
            "format": "uuid"
          },
          "offenceCode": {
            "type": "string"
          },
          "offenceStartDate": {
            "type": "string",
            "format": "date"
          },
          "offenceEndDate": {
            "type": "string",
            "format": "date"
          },
          "outcomeUuid": {
            "type": "string",
            "format": "uuid"
          },
          "terrorRelated": {
            "type": "boolean"
          },
          "sentence": {
            "$ref": "#/components/schemas/CreateSentence"
          },
          "legacyData": {
            "$ref": "#/components/schemas/ChargeLegacyData"
          }
        }
      },
      "CreateCourtAppearance": {
        "required": [
          "appearanceDate",
          "charges",
          "courtCode",
          "warrantType"
        ],
        "type": "object",
        "properties": {
          "courtCaseUuid": {
            "type": "string"
          },
          "appearanceUuid": {
            "type": "string",
            "format": "uuid"
          },
          "outcomeUuid": {
            "type": "string",
            "format": "uuid"
          },
          "courtCode": {
            "type": "string"
          },
          "courtCaseReference": {
            "type": "string"
          },
          "appearanceDate": {
            "type": "string",
            "format": "date"
          },
          "warrantId": {
            "type": "string"
          },
          "warrantType": {
            "type": "string"
          },
          "taggedBail": {
            "type": "integer",
            "format": "int32"
          },
          "overallSentenceLength": {
            "$ref": "#/components/schemas/CreatePeriodLength"
          },
          "nextCourtAppearance": {
            "$ref": "#/components/schemas/CreateNextCourtAppearance"
          },
          "charges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateCharge"
            }
          },
          "overallConvictionDate": {
            "type": "string",
            "format": "date"
          },
          "legacyData": {
            "$ref": "#/components/schemas/CourtAppearanceLegacyData"
          }
        }
      },
      "CreateCourtCase": {
        "required": [
          "appearances",
          "prisonerId"
        ],
        "type": "object",
        "properties": {
          "prisonerId": {
            "type": "string"
          },
          "appearances": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateCourtAppearance"
            }
          },
          "legacyData": {
            "$ref": "#/components/schemas/CourtCaseLegacyData"
          }
        }
      },
      "CreateNextCourtAppearance": {
        "required": [
          "appearanceDate",
          "appearanceType",
          "courtCode"
        ],
        "type": "object",
        "properties": {
          "appearanceDate": {
            "type": "string",
            "format": "date"
          },
          "appearanceTime": {
            "type": "string",
            "example": "13:52:27.899285297"
          },
          "courtCode": {
            "type": "string"
          },
          "appearanceType": {
            "type": "string"
          }
        }
      },
      "CreatePeriodLength": {
        "required": [
          "periodOrder",
          "type"
        ],
        "type": "object",
        "properties": {
          "years": {
            "type": "integer",
            "format": "int32"
          },
          "months": {
            "type": "integer",
            "format": "int32"
          },
          "weeks": {
            "type": "integer",
            "format": "int32"
          },
          "days": {
            "type": "integer",
            "format": "int32"
          },
          "periodOrder": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "SENTENCE_LENGTH",
              "CUSTODIAL_TERM",
              "LICENCE_PERIOD",
              "TARIFF_LENGTH",
              "TERM_LENGTH",
              "OVERALL_SENTENCE_LENGTH"
            ]
          }
        }
      },
      "CreateSentence": {
        "required": [
          "chargeNumber",
          "periodLengths",
          "sentenceServeType",
          "sentenceTypeId"
        ],
        "type": "object",
        "properties": {
          "sentenceUuid": {
            "type": "string",
            "format": "uuid"
          },
          "chargeNumber": {
            "type": "string"
          },
          "periodLengths": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreatePeriodLength"
            }
          },
          "sentenceServeType": {
            "type": "string"
          },
          "consecutiveToChargeNumber": {
            "type": "string"
          },
          "sentenceTypeId": {
            "type": "string",
            "format": "uuid"
          },
          "convictionDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "CreateCourtCaseResponse": {
        "required": [
          "courtCaseUuid"
        ],
        "type": "object",
        "properties": {
          "courtCaseUuid": {
            "type": "string"
          }
        }
      },
      "CreateCourtAppearanceResponse": {
        "required": [
          "appearanceUuid"
        ],
        "type": "object",
        "properties": {
          "appearanceUuid": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "PeriodLength": {
        "required": [
          "periodLengthType",
          "periodOrder"
        ],
        "type": "object",
        "properties": {
          "years": {
            "type": "integer",
            "format": "int32"
          },
          "months": {
            "type": "integer",
            "format": "int32"
          },
          "weeks": {
            "type": "integer",
            "format": "int32"
          },
          "days": {
            "type": "integer",
            "format": "int32"
          },
          "periodOrder": {
            "type": "string"
          },
          "periodLengthType": {
            "type": "string",
            "enum": [
              "SENTENCE_LENGTH",
              "CUSTODIAL_TERM",
              "LICENCE_PERIOD",
              "TARIFF_LENGTH",
              "TERM_LENGTH",
              "OVERALL_SENTENCE_LENGTH"
            ]
          }
        }
      },
      "Sentence": {
        "required": [
          "chargeNumber",
          "periodLengths",
          "sentenceServeType",
          "sentenceType",
          "sentenceUuid"
        ],
        "type": "object",
        "properties": {
          "sentenceUuid": {
            "type": "string",
            "format": "uuid"
          },
          "chargeNumber": {
            "type": "string"
          },
          "periodLengths": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PeriodLength"
            }
          },
          "sentenceServeType": {
            "type": "string"
          },
          "consecutiveToChargeNumber": {
            "type": "string"
          },
          "sentenceType": {
            "$ref": "#/components/schemas/SentenceType"
          },
          "convictionDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "SentenceType": {
        "required": [
          "classification",
          "description",
          "sentenceTypeUuid"
        ],
        "type": "object",
        "properties": {
          "sentenceTypeUuid": {
            "type": "string",
            "format": "uuid"
          },
          "description": {
            "type": "string"
          },
          "classification": {
            "type": "string",
            "enum": [
              "STANDARD",
              "EXTENDED",
              "SOPC",
              "INDETERMINATE",
              "BOTUS",
              "CIVIL",
              "DTO",
              "FINE",
              "LEGACY",
              "NON_CUSTODIAL"
            ]
          }
        }
      },
      "Recall": {
        "required": [
          "createdAt",
          "createdByUsername",
          "prisonerId",
          "recallDate",
          "recallType",
          "recallUniqueIdentifier",
          "returnToCustodyDate"
        ],
        "type": "object",
        "properties": {
          "recallUniqueIdentifier": {
            "type": "string",
            "format": "uuid"
          },
          "prisonerId": {
            "type": "string"
          },
          "recallDate": {
            "type": "string",
            "format": "date"
          },
          "returnToCustodyDate": {
            "type": "string",
            "format": "date"
          },
          "recallType": {
            "type": "string",
            "enum": [
              "FOURTEEN_DAY_FIXED_TERM_RECALL",
              "TWENTY_EIGHT_DAY_FIXED_TERM_RECALL",
              "STANDARD_RECALL",
              "HDC_RECALL"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdByUsername": {
            "type": "string"
          }
        }
      },
      "PersonDetails": {
        "required": [
          "dateOfBirth",
          "firstName",
          "lastName",
          "personId"
        ],
        "type": "object",
        "properties": {
          "personId": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "establishment": {
            "type": "string"
          },
          "cellNumber": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date"
          },
          "pncNumber": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "Charge": {
        "required": [
          "chargeUuid",
          "lifetimeUuid",
          "offenceCode",
          "offenceStartDate"
        ],
        "type": "object",
        "properties": {
          "chargeUuid": {
            "type": "string",
            "format": "uuid"
          },
          "lifetimeUuid": {
            "type": "string",
            "format": "uuid"
          },
          "offenceCode": {
            "type": "string"
          },
          "offenceStartDate": {
            "type": "string",
            "format": "date"
          },
          "offenceEndDate": {
            "type": "string",
            "format": "date"
          },
          "outcome": {
            "$ref": "#/components/schemas/ChargeOutcome"
          },
          "terrorRelated": {
            "type": "boolean"
          },
          "sentence": {
            "$ref": "#/components/schemas/Sentence"
          },
          "legacyData": {
            "$ref": "#/components/schemas/JsonNode"
          }
        }
      },
      "ChargeOutcome": {
        "required": [
          "displayOrder",
          "isSubList",
          "nomisCode",
          "outcomeName",
          "outcomeType",
          "outcomeUuid"
        ],
        "type": "object",
        "properties": {
          "outcomeUuid": {
            "type": "string",
            "format": "uuid"
          },
          "outcomeName": {
            "type": "string"
          },
          "nomisCode": {
            "type": "string"
          },
          "outcomeType": {
            "type": "string"
          },
          "displayOrder": {
            "type": "integer",
            "format": "int32"
          },
          "isSubList": {
            "type": "boolean"
          }
        }
      },
      "CourtAppearance": {
        "required": [
          "appearanceDate",
          "appearanceUuid",
          "charges",
          "courtCode",
          "lifetimeUuid",
          "warrantType"
        ],
        "type": "object",
        "properties": {
          "appearanceUuid": {
            "type": "string",
            "format": "uuid"
          },
          "lifetimeUuid": {
            "type": "string",
            "format": "uuid"
          },
          "outcome": {
            "$ref": "#/components/schemas/CourtAppearanceOutcome"
          },
          "courtCode": {
            "type": "string"
          },
          "courtCaseReference": {
            "type": "string"
          },
          "appearanceDate": {
            "type": "string",
            "format": "date"
          },
          "warrantId": {
            "type": "string"
          },
          "warrantType": {
            "type": "string"
          },
          "taggedBail": {
            "type": "integer",
            "format": "int32"
          },
          "nextCourtAppearance": {
            "$ref": "#/components/schemas/NextCourtAppearance"
          },
          "charges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Charge"
            }
          },
          "overallSentenceLength": {
            "$ref": "#/components/schemas/PeriodLength"
          },
          "overallConvictionDate": {
            "type": "string",
            "format": "date"
          },
          "legacyData": {
            "$ref": "#/components/schemas/JsonNode"
          }
        }
      },
      "CourtAppearanceOutcome": {
        "required": [
          "displayOrder",
          "isSubList",
          "nomisCode",
          "outcomeName",
          "outcomeType",
          "outcomeUuid",
          "relatedChargeOutcomeUuid"
        ],
        "type": "object",
        "properties": {
          "outcomeUuid": {
            "type": "string",
            "format": "uuid"
          },
          "outcomeName": {
            "type": "string"
          },
          "nomisCode": {
            "type": "string"
          },
          "outcomeType": {
            "type": "string"
          },
          "displayOrder": {
            "type": "integer",
            "format": "int32"
          },
          "relatedChargeOutcomeUuid": {
            "type": "string",
            "format": "uuid"
          },
          "isSubList": {
            "type": "boolean"
          }
        }
      },
      "CourtCase": {
        "required": [
          "appearances",
          "courtCaseUuid",
          "prisonerId"
        ],
        "type": "object",
        "properties": {
          "prisonerId": {
            "type": "string"
          },
          "courtCaseUuid": {
            "type": "string"
          },
          "latestAppearance": {
            "$ref": "#/components/schemas/CourtAppearance"
          },
          "appearances": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CourtAppearance"
            }
          },
          "legacyData": {
            "$ref": "#/components/schemas/JsonNode"
          }
        }
      },
      "JsonNode": {
        "type": "object"
      },
      "NextCourtAppearance": {
        "required": [
          "appearanceDate",
          "appearanceType",
          "courtCode"
        ],
        "type": "object",
        "properties": {
          "appearanceDate": {
            "type": "string",
            "format": "date"
          },
          "appearanceTime": {
            "type": "string",
            "example": "13:52:27.899285297"
          },
          "courtCode": {
            "type": "string"
          },
          "appearanceType": {
            "type": "string"
          }
        }
      },
      "Pageable": {
        "type": "object",
        "properties": {
          "page": {
            "minimum": 0,
            "type": "integer",
            "format": "int32"
          },
          "size": {
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "sort": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PageCourtCase": {
        "type": "object",
        "properties": {
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "first": {
            "type": "boolean"
          },
          "last": {
            "type": "boolean"
          },
          "size": {
            "type": "integer",
            "format": "int32"
          },
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CourtCase"
            }
          },
          "number": {
            "type": "integer",
            "format": "int32"
          },
          "sort": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortObject"
            }
          },
          "pageable": {
            "$ref": "#/components/schemas/PageableObject"
          },
          "numberOfElements": {
            "type": "integer",
            "format": "int32"
          },
          "empty": {
            "type": "boolean"
          }
        }
      },
      "PageableObject": {
        "type": "object",
        "properties": {
          "offset": {
            "type": "integer",
            "format": "int64"
          },
          "sort": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortObject"
            }
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "paged": {
            "type": "boolean"
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "unpaged": {
            "type": "boolean"
          }
        }
      },
      "SortObject": {
        "type": "object",
        "properties": {
          "direction": {
            "type": "string"
          },
          "nullHandling": {
            "type": "string"
          },
          "ascending": {
            "type": "boolean"
          },
          "property": {
            "type": "string"
          },
          "ignoreCase": {
            "type": "boolean"
          }
        }
      }
    }
  }
}
