{
  "openapi": "3.0.1",
  "info": {
    "title": "NOMIS Mapping Service",
    "description": "<div>\n<h2>Manages mapping information between DPS services and NOMIS</h2>\n<p>APIs tagged by <b>NOMIS to DPS Mapping lookup</b> are designed to be used by other DPS services that need to transition data held in that service that was originally sourced from NOMIS by now needs to sourced from other DPS services.</p>\n<p>Each domain requires their own role to access these APIs for instance <b>NOMIS_DPS_MAPPING__LOCATIONS__R</b> for location mapping lookups</p>\n<p>All other APIs should be considered private to the NOMIS Migration and Synchronisation suite of services.</p>\n<div>",
    "contact": {
      "name": "HMPPS Digital Studio",
      "email": "feedback@digital.justice.gov.uk"
    },
    "version": "2024-12-04.5576.44b0b2d"
  },
  "servers": [
    {
      "url": "https://nomis-sync-prisoner-mapping.hmpps.service.justice.gov.uk",
      "description": "Prod"
    },
    {
      "url": "https://nomis-sync-prisoner-mapping-preprod.hmpps.service.justice.gov.uk",
      "description": "PreProd"
    },
    {
      "url": "https://nomis-sync-prisoner-mapping-dev.hmpps.service.justice.gov.uk",
      "description": "Development"
    },
    {
      "url": "http://localhost:8080",
      "description": "Local"
    }
  ],
  "security": [
    {
      "bearer-jwt": [
        "read",
        "write"
      ]
    }
  ],
  "tags": [
    {
      "name": "NOMIS to DPS Mapping lookup",
      "description": "APIs designed to be used by DPS services that need to map NOMIS ids stored in a DPS service to a sibling DPS domain service"
    }
  ],
  "paths": {
    "/mapping/punishments": {
      "put": {
        "tags": [
          "punishments-mapping-resource"
        ],
        "summary": "Creates a new set of adjudication punishment mapping and deletes ones no longer required",
        "description": "Creates a record of a DPS punishment id and NOMIS bookingId and sanction sequence. The ones that require deleting are removed NOMIS id. Requires NOMIS_ADJUDICATIONS",
        "operationId": "updatePunishmentBatchMappings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdjudicationPunishmentBatchUpdateMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mapping entries created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "409": {
            "description": "One of the punishment mappings already exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "punishments-mapping-resource"
        ],
        "summary": "Creates a new set of adjudication punishment mapping",
        "description": "Creates a record of a DPS punishment id and NOMIS bookingId and sanction sequence. Requires NOMIS_ADJUDICATIONS",
        "operationId": "createPunishmentBatchMappings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdjudicationPunishmentBatchMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mapping entries created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "409": {
            "description": "One of the punishment mappings already exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/prisonperson/migration": {
      "put": {
        "tags": [
          "prison-person-resource"
        ],
        "summary": "Creates or updates a prison person migration mapping",
        "description": "Creates or updates a mapping between nomis prisoner numbers and prison person history ids. Requires ROLE_NOMIS_PRISONPERSON",
        "operationId": "upsertMapping",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrisonPersonMigrationMappingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Mapping created or updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrisonPersonMigrationMapping"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access forbidden for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/non-associations/merge/from/{oldOffenderNo}/to/{newOffenderNo}": {
      "put": {
        "tags": [
          "non-associations-mapping-resource"
        ],
        "summary": "Replaces all occurrences of the 'from' id with the 'to' id in the mapping table",
        "description": "Used for update after a prisoner number merge. Requires role NOMIS_NON_ASSOCIATIONS",
        "operationId": "updateMappingsByNomisId",
        "parameters": [
          {
            "name": "oldOffenderNo",
            "in": "path",
            "description": "Old prisoner number to replace",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Old prisoner number to replace",
              "example": "A3456KM"
            },
            "example": "A3456KM"
          },
          {
            "name": "newOffenderNo",
            "in": "path",
            "description": "New prisoner number to use",
            "required": true,
            "schema": {
              "type": "string",
              "description": "New prisoner number to use",
              "example": "A3457LZ"
            },
            "example": "A3457LZ"
          }
        ],
        "responses": {
          "200": {
            "description": "Replacement made, or not present in table",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "400": {
            "description": "Replacement would result in an NA with both prisoner numbers the same - requires manual intervention",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/court-sentencing/court-charges": {
      "put": {
        "tags": [
          "court-sentencing-mapping-resource"
        ],
        "summary": "Creates a new set of court charge mapping and deletes ones no longer required",
        "description": "Creates a record of a DPS court charge id and NOMIS court charge id. The ones that require deleting are removed by NOMIS id. Requires NOMIS_COURT_SENTENCING",
        "operationId": "courtChargeBatchUpdateMappings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CourtChargeBatchUpdateMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mapping entries created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "409": {
            "description": "One of the court charge mappings already exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "court-sentencing-mapping-resource"
        ],
        "summary": "Creates a new single charge mapping",
        "description": "Creates a mapping between nomis offender charge ID and DPS charge ID. Requires ROLE_NOMIS_COURT_SENTENCING",
        "operationId": "createCourtChargeMapping",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CourtChargeMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mapping created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourtChargeMapping"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access forbidden for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateMappingErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/casenotes/merge/from/{oldOffenderNo}/to/{newOffenderNo}": {
      "put": {
        "tags": [
          "case-notes-mapping-resource"
        ],
        "summary": "Replaces all occurrences of the 'from' id with the 'to' id in the mapping table",
        "description": "Used for update after a prisoner number merge. Requires role ROLE_NOMIS_CASENOTES",
        "operationId": "updateMappingsByNomisId_1",
        "parameters": [
          {
            "name": "oldOffenderNo",
            "in": "path",
            "description": "Old prisoner number to replace",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Old prisoner number to replace",
              "example": "A3456KM"
            },
            "example": "A3456KM"
          },
          {
            "name": "newOffenderNo",
            "in": "path",
            "description": "New prisoner number to use",
            "required": true,
            "schema": {
              "type": "string",
              "description": "New prisoner number to use",
              "example": "A3457LZ"
            },
            "example": "A3457LZ"
          }
        ],
        "responses": {
          "200": {
            "description": "Replacement made, or not present in table",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/casenotes/merge/booking-id/{bookingId}/to/{newOffenderNo}": {
      "put": {
        "tags": [
          "case-notes-mapping-resource"
        ],
        "summary": "For all case notes with the given booking id in the mapping table, sets the offender no to the given 'to' id",
        "description": "Used for update after a booking has been moved from one offender to another. Returns the affected case notes. Requires role ROLE_NOMIS_CASENOTES",
        "operationId": "updateMappingsByBookingId",
        "parameters": [
          {
            "name": "bookingId",
            "in": "path",
            "description": "The booking id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The booking id",
              "format": "int64",
              "example": 1234567
            },
            "example": 1234567
          },
          {
            "name": "newOffenderNo",
            "in": "path",
            "description": "New prisoner number to use",
            "required": true,
            "schema": {
              "type": "string",
              "description": "New prisoner number to use",
              "example": "A3457LZ"
            },
            "example": "A3457LZ"
          }
        ],
        "responses": {
          "200": {
            "description": "Replacement made, or not present in table",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CaseNoteMappingDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/alerts/{offenderNo}/merge": {
      "put": {
        "tags": [
          "alerts-mapping-resource"
        ],
        "summary": "Replaces a set of new alert mappings for a prisoner and removes mappings for the removed prisoner record",
        "description": "Replaces the mappings between all the nomis alert ids and dps alert id. Any mappings on the removed prisoner record are deleted. Requires ROLE_NOMIS_ALERTS",
        "operationId": "replaceMappingsForPrisonerAfterMerge",
        "parameters": [
          {
            "name": "offenderNo",
            "in": "path",
            "description": "Retained NOMIS offender no",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Retained NOMIS offender no",
              "example": "A1234KT"
            },
            "example": "A1234KT"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MergedPrisonerAlertMappingsDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Mappings replaced",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access forbidden for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/alerts/{offenderNo}/all": {
      "get": {
        "tags": [
          "alerts-mapping-resource"
        ],
        "summary": "Gets all alert mappings for a prisoner",
        "description": "Gets all the mapping between nomis alert ids and dps alert id related to specific prisoner created either via migration or synchronisation. Requires ROLE_NOMIS_ALERTS",
        "operationId": "getMappingsForPrisoner",
        "parameters": [
          {
            "name": "offenderNo",
            "in": "path",
            "description": "NOMIS offender no",
            "required": true,
            "schema": {
              "type": "string",
              "description": "NOMIS offender no",
              "example": "A1234KT"
            },
            "example": "A1234KT"
          }
        ],
        "responses": {
          "200": {
            "description": "Mappings for prisoner",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllPrisonerAlertMappingsDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access forbidden for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "alerts-mapping-resource"
        ],
        "summary": "Replaces a set of new alert mapping for a prisoner",
        "description": "Replaces the mappings between all the nomis alert ids and dps alert id. Requires ROLE_NOMIS_ALERTS",
        "operationId": "replaceMappingsForPrisoner",
        "parameters": [
          {
            "name": "offenderNo",
            "in": "path",
            "description": "NOMIS offender no",
            "required": true,
            "schema": {
              "type": "string",
              "description": "NOMIS offender no",
              "example": "A1234KT"
            },
            "example": "A1234KT"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrisonerAlertMappingsDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Mappings replaced",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access forbidden for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "alerts-mapping-resource"
        ],
        "summary": "Creates a set of new alert mapping for a prisoner",
        "description": "Creates a mapping between all the nomis alert ids and dps alert id. Requires ROLE_NOMIS_ALERTS",
        "operationId": "createMappingsForPrisoner",
        "parameters": [
          {
            "name": "offenderNo",
            "in": "path",
            "description": "NOMIS offender no",
            "required": true,
            "schema": {
              "type": "string",
              "description": "NOMIS offender no",
              "example": "A1234KT"
            },
            "example": "A1234KT"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrisonerAlertMappingsDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mapping created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access forbidden for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateMappingErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/alerts/nomis-booking-id/{bookingId}/nomis-alert-sequence/{alertSequence}": {
      "get": {
        "tags": [
          "alerts-mapping-resource"
        ],
        "summary": "get mapping",
        "description": "Retrieves a mapping by NOMIS id. Requires role NOMIS_ALERTS",
        "operationId": "getMappingByNomisId",
        "parameters": [
          {
            "name": "bookingId",
            "in": "path",
            "description": "NOMIS booking id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "NOMIS booking id",
              "format": "int64",
              "example": 12345
            },
            "example": 12345
          },
          {
            "name": "alertSequence",
            "in": "path",
            "description": "NOMIS booking id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "NOMIS booking id",
              "format": "int64",
              "example": 2
            },
            "example": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Mapping Information Returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertMappingDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Id does not exist in mapping table",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "alerts-mapping-resource"
        ],
        "summary": "updates mapping",
        "description": "Updates a mapping by NOMIS id setting a new NOMIS booking Id. Requires role NOMIS_ALERTS",
        "operationId": "updateMappingBookingIdByNomisId",
        "parameters": [
          {
            "name": "bookingId",
            "in": "path",
            "description": "NOMIS booking id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "NOMIS booking id",
              "format": "int64",
              "example": 12345
            },
            "example": 12345
          },
          {
            "name": "alertSequence",
            "in": "path",
            "description": "NOMIS booking id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "NOMIS booking id",
              "format": "int64",
              "example": 2
            },
            "example": 2
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NomisMappingIdUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Mapping Information Returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertMappingDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Id does not exist in mapping table",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/activities": {
      "get": {
        "tags": [
          "activity-mapping-resource"
        ],
        "summary": "Get all activities mappings",
        "description": "Get all the mapping table rows. Should only be used in dev (in pre/prod this could return excessive data). Requires role NOMIS_ACTIVITIES",
        "operationId": "getAllMappings",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivityMappingDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "activity-mapping-resource"
        ],
        "summary": "Updates an activity mapping",
        "description": "Updates a mapping between Nomis and Activities, including both the COURSE_ACTIVITY and COURSE_SCHEDULE. Requires NOMIS_ACTIVITIES",
        "operationId": "updateMapping",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivityMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Mapping entry updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityMappingDto"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid, see response for details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "An activity schedule mapping to update could not be found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "activity-mapping-resource"
        ],
        "summary": "Creates a new activity mapping",
        "description": "Creates a mapping between nomis id and Activity service id. Requires NOMIS_ACTIVITIES",
        "operationId": "createMapping",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivityMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mapping entry created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "400": {
            "description": "Nomis or activity schedule ids already exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/prison/{prisonId}/room-mappings": {
      "get": {
        "tags": [
          "visit-mapping-resource"
        ],
        "summary": "get room mappings for a prison",
        "description": "Retrieves  room mappings associated with a NOMIS prison id. Requires role NOMIS_VISITS",
        "operationId": "getRoomMappings",
        "parameters": [
          {
            "name": "prisonId",
            "in": "path",
            "description": "NOMIS prison Id",
            "required": true,
            "schema": {
              "type": "string",
              "description": "NOMIS prison Id",
              "example": "MDI"
            },
            "example": "MDI"
          }
        ],
        "responses": {
          "200": {
            "description": "Mapping list Returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoomMappingDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "visit-mapping-resource"
        ],
        "summary": "Creates a new room mapping",
        "description": "Creates a new room mapping. Requires role NOMIS_VISITS",
        "operationId": "createRoomMapping",
        "parameters": [
          {
            "name": "prisonId",
            "in": "path",
            "description": "NOMIS prison Id",
            "required": true,
            "schema": {
              "type": "string",
              "description": "NOMIS prison Id",
              "example": "MDI"
            },
            "example": "MDI"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRoomMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Visit mapping entry created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "400": {
            "description": "mapping for this nomis room and prison already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/visits": {
      "post": {
        "tags": [
          "visit-mapping-resource"
        ],
        "summary": "Creates a new visit",
        "description": "Creates a new visit and decrements the visit balance. Requires role NOMIS_VISITS",
        "operationId": "createMapping_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VisitMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Visit mapping entry created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "400": {
            "description": "Nomis or VSIP ids already exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Indicates a duplicate visit has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateMappingErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "visit-mapping-resource"
        ],
        "summary": "Deletes visit id mappings",
        "description": "Deletes all rows from the the visit id table. Requires role NOMIS_VISITS",
        "operationId": "deleteVisitIdMappings",
        "parameters": [
          {
            "name": "onlyMigrated",
            "in": "query",
            "description": "if true delete mapping entries created by the migration process only (synchronisation records are unaffected)",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": true
          }
        ],
        "responses": {
          "204": {
            "description": "Visit id mappings deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/sentencing/adjustments": {
      "get": {
        "tags": [
          "sentencing-mapping-resource"
        ],
        "summary": "get all paged mappings",
        "description": "Retrieve all mappings . Results are paged.",
        "operationId": "getAllSentenceAdjustmentMappings",
        "parameters": [
          {
            "name": "pageRequest",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mapping page returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SentencingAdjustmentMappingDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "sentencing-mapping-resource"
        ],
        "summary": "Creates a new sentence adjustment mapping",
        "description": "Creates a mapping between nomis sentence adjustment ids and Sentencing service id. Requires ROLE_NOMIS_SENTENCING",
        "operationId": "createMapping_2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SentencingAdjustmentMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Sentence adjustment mapping entry created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "400": {
            "description": "Nomis or Sentencing ids already exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Indicates a duplicate sentencing adjustment mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateMappingErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "sentencing-mapping-resource"
        ],
        "summary": "Deletes sentence adjustment mappings",
        "description": "Deletes all rows from the the sentence adjustment mapping table. Requires role NOMIS_SENTENCING",
        "operationId": "deleteSentenceAdjustmentMappings",
        "parameters": [
          {
            "name": "onlyMigrated",
            "in": "query",
            "description": "if true delete mapping entries created by the migration process only (synchronisation records are unaffected)",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": true
          }
        ],
        "responses": {
          "204": {
            "description": "sentence adjustment mappings deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/prisonperson/identifying-mark-image": {
      "post": {
        "tags": [
          "identifying-mark-image-resource"
        ],
        "summary": "Create an identifying mark image mapping",
        "description": "Create an identifying mark image mapping. Requires ROLE_NOMIS_PRISONPERSON",
        "operationId": "createIdentifyingMarkImageMapping",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mapping created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access forbidden for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateMappingErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/prisonperson/identifying-mark": {
      "post": {
        "tags": [
          "identifying-mark-resource"
        ],
        "summary": "Create an identifying mark mapping",
        "description": "Create an identifying mark mapping. Requires ROLE_NOMIS_PRISONPERSON",
        "operationId": "createIdentifyingMarkMapping",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mapping created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access forbidden for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateMappingErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/non-associations": {
      "post": {
        "tags": [
          "non-associations-mapping-resource"
        ],
        "summary": "Creates a new Non-association mapping",
        "description": "Creates a mapping between a Nomis non-association and non-association instance id. Requires role NOMIS_NON_ASSOCIATIONS",
        "operationId": "createMapping_3",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NonAssociationMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mapping entry created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "409": {
            "description": "Indicates a duplicate non-association has been rejected. If Error code = 409 the body will return a DuplicateErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateMappingErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "non-associations-mapping-resource"
        ],
        "summary": "Deletes non-association mappings.",
        "description": "Deletes all rows from the non-associations mapping table. Requires role NOMIS_NON_ASSOCIATIONS",
        "operationId": "deleteNonAssociationMappings",
        "parameters": [
          {
            "name": "onlyMigrated",
            "in": "query",
            "description": "if true delete mapping entries created by the migration process only (synchronisation records are unaffected)",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": true
          }
        ],
        "responses": {
          "204": {
            "description": "Non association mappings deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/locations": {
      "post": {
        "tags": [
          "location-mapping-resource"
        ],
        "summary": "Creates a new Location mapping",
        "description": "Creates a mapping between a Nomis location id and a DPS location id. Requires role NOMIS_LOCATIONS",
        "operationId": "createMapping_4",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mapping entry created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "409": {
            "description": "Indicates a duplicate location has been rejected. If Error code = 409 the body will return a DuplicateErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateMappingErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "location-mapping-resource"
        ],
        "summary": "Deletes location mappings.",
        "description": "Deletes all rows from the locations mapping table. Requires role NOMIS_LOCATIONS",
        "operationId": "deleteMappings",
        "parameters": [
          {
            "name": "onlyMigrated",
            "in": "query",
            "description": "if true delete mapping entries created by the migration process only (synchronisation records are unaffected)",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": true
          }
        ],
        "responses": {
          "204": {
            "description": "Location mappings deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/incidents": {
      "post": {
        "tags": [
          "incident-mapping-resource"
        ],
        "summary": "Creates a new Incident Report mapping",
        "description": "Creates a mapping between a Nomis incident report id and DPS Incident report id. Requires role NOMIS_INCIDENTS",
        "operationId": "createMapping_5",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncidentMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mapping entry created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Indicates a duplicate incident has been rejected. If Error code = 409 the body will return a DuplicateErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateMappingErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "incident-mapping-resource"
        ],
        "summary": "Deletes incident mappings.",
        "description": "Deletes all rows from the incidents mapping table. Requires role NOMIS_INCIDENTS",
        "operationId": "deleteMappings_1",
        "parameters": [
          {
            "name": "onlyMigrated",
            "in": "query",
            "description": "if true delete mapping entries created by the migration process only (synchronisation records are unaffected)",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": true
          }
        ],
        "responses": {
          "204": {
            "description": "Incident mappings deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/incentives": {
      "post": {
        "tags": [
          "incentive-mapping-resource"
        ],
        "summary": "Creates a new incentive mapping",
        "description": "Creates a mapping between nomis Incentive ids and Incentive service id. Requires ROLE_NOMIS_INCENTIVES",
        "operationId": "createMapping_6",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncentiveMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Incentive mapping entry created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "400": {
            "description": "Nomis or Incentive ids already exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Indicates a duplicate incentive has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateMappingErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "incentive-mapping-resource"
        ],
        "summary": "Deletes incentive mappings",
        "description": "Deletes all rows from the the incentive mapping table. Requires role NOMIS_INCENTIVES",
        "operationId": "deleteIncentiveMappings",
        "parameters": [
          {
            "name": "onlyMigrated",
            "in": "query",
            "description": "if true delete mapping entries created by the migration process only (synchronisation records are unaffected)",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": true
          }
        ],
        "responses": {
          "204": {
            "description": "Incentive mappings deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/hearings": {
      "post": {
        "tags": [
          "hearings-mapping-resource"
        ],
        "summary": "Creates a new hearing mapping",
        "description": "Creates a record of a DPS hearing Id and a NOMIS hearing Id . Requires NOMIS_ADJUDICATIONS",
        "operationId": "createMapping_7",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdjudicationMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mapping entry created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "409": {
            "description": "Hearing already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/csip/reviews": {
      "post": {
        "tags": [
          "csip-review-mapping-resource"
        ],
        "summary": "Creates a new CSIP Review mapping",
        "description": "Creates a mapping between a Nomis CSIP review id and DPS CSIP review id. Requires role NOMIS_CSIP",
        "operationId": "createReviewMapping",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CSIPChildMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mapping entry created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CSIPReviewMapping"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Indicates a duplicate csip has been rejected. If Error code = 409 the body will return a DuplicateErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateMappingErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/csip/plans": {
      "post": {
        "tags": [
          "csip-plan-mapping-resource"
        ],
        "summary": "Creates a new CSIP Plan mapping",
        "description": "Creates a mapping between a Nomis CSIP plan id and DPS CSIP plan id. Requires role NOMIS_CSIP",
        "operationId": "createPlanMapping",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CSIPChildMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mapping entry created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CSIPPlanMapping"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Indicates a duplicate csip has been rejected. If Error code = 409 the body will return a DuplicateErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateMappingErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/csip/interviews": {
      "post": {
        "tags": [
          "csip-interview-mapping-resource"
        ],
        "summary": "Creates a new CSIP Interview mapping",
        "description": "Creates a mapping between a Nomis CSIP interview id and DPS CSIP interview id. Requires role NOMIS_CSIP",
        "operationId": "createInterviewMapping",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CSIPChildMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mapping entry created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CSIPInterviewMapping"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Indicates a duplicate csip has been rejected. If Error code = 409 the body will return a DuplicateErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateMappingErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/csip/factors": {
      "post": {
        "tags": [
          "csip-factor-mapping-resource"
        ],
        "summary": "Creates a new CSIP Factor mapping",
        "description": "Creates a mapping between a Nomis CSIP factor id and DPS CSIP factor id. Requires role NOMIS_CSIP",
        "operationId": "createFactorMapping",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CSIPChildMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mapping entry created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CSIPFactorMapping"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Indicates a duplicate csip has been rejected. If Error code = 409 the body will return a DuplicateErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateMappingErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/csip/children/all": {
      "post": {
        "tags": [
          "csip-mapping-resource"
        ],
        "summary": "Adds new child mappings to a CSIP Report",
        "description": "Adds child csip mappings. Requires role NOMIS_CSIP",
        "operationId": "createChildMappings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CSIPFullMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mapping entry/entries created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Indicates a duplicate csip child has been rejected. If Error code = 409 the body will return a DuplicateErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateMappingErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/csip/attendees": {
      "post": {
        "tags": [
          "csip-attendee-mapping-resource"
        ],
        "summary": "Creates a new CSIP Attendee mapping",
        "description": "Creates a mapping between a Nomis CSIP attendee id and DPS CSIP attendee id. Requires role NOMIS_CSIP",
        "operationId": "createAttendeeMapping",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CSIPChildMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mapping entry created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CSIPAttendeeMapping"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Indicates a duplicate csip has been rejected. If Error code = 409 the body will return a DuplicateErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateMappingErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/csip/all": {
      "post": {
        "tags": [
          "csip-mapping-resource"
        ],
        "summary": "Creates a new CSIP Report mapping along with any associated children",
        "description": "Creates a mapping between a Nomis CSIP report id and DPS CSIP report id and all its children. Requires role NOMIS_CSIP",
        "operationId": "createMappingWithChildren",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CSIPFullMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mapping entry created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Indicates a duplicate csip has been rejected. If Error code = 409 the body will return a DuplicateErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateMappingErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "csip-mapping-resource"
        ],
        "summary": "Deletes CSIP mappings.",
        "description": "Deletes all rows from the csip mapping table. Requires role NOMIS_CSIP",
        "operationId": "deleteAllMappings",
        "parameters": [
          {
            "name": "onlyMigrated",
            "in": "query",
            "description": "if true delete mapping entries created by the migration process only (synchronisation records are unaffected)",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": true
          }
        ],
        "responses": {
          "204": {
            "description": "CSIP mappings deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/csip": {
      "post": {
        "tags": [
          "csip-mapping-resource"
        ],
        "summary": "Creates a new CSIP Report mapping",
        "description": "Creates a mapping between a Nomis CSIP report id and DPS CSIP report id. Requires role NOMIS_CSIP",
        "operationId": "createMapping_8",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CSIPReportMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mapping entry created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CSIPMapping"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Indicates a duplicate csip has been rejected. If Error code = 409 the body will return a DuplicateErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateMappingErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/court-sentencing/sentences": {
      "post": {
        "tags": [
          "court-sentencing-mapping-resource"
        ],
        "summary": "Creates a new sentence hierarchical mapping",
        "description": "Creates a mapping between nomis sentence ID (booking id and sentence seq) and DPS Sentence ID. Also maps child charge entities. Requires ROLE_NOMIS_COURT_SENTENCING",
        "operationId": "createSentenceMapping",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SentenceMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mapping created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SentenceMapping"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access forbidden for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateMappingErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/court-sentencing/court-cases": {
      "post": {
        "tags": [
          "court-sentencing-mapping-resource"
        ],
        "summary": "Creates a new court case hierarchical mapping",
        "description": "Creates a mapping between nomis Court Case ID and DPS Court Case ID. Also maps child entities: Court appearances and charges. Requires ROLE_NOMIS_COURT_SENTENCING",
        "operationId": "createMapping_9",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CourtCaseAllMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mapping created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourtCaseMapping"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access forbidden for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateMappingErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/court-sentencing/court-appearances": {
      "post": {
        "tags": [
          "court-sentencing-mapping-resource"
        ],
        "summary": "Creates a new court appearance mapping",
        "description": "Creates a mapping between nomis Court appearance ID and DPS Court appearance ID. Requires ROLE_NOMIS_COURT_SENTENCING",
        "operationId": "createCourtAppearanceMapping",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CourtAppearanceAllMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mapping created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourtAppearanceMapping"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access forbidden for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateMappingErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/contact-person/phone": {
      "post": {
        "tags": [
          "contact-person-mapping-resource"
        ],
        "summary": "Creates person phone mappings for synchronisation",
        "description": "Creates person phone mappings for synchronisation between NOMIS ids and dps ids. Requires ROLE_NOMIS_CONTACTPERSONS",
        "operationId": "createPersonPhoneMapping",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonPhoneMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mapping created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access forbidden for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateMappingErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/contact-person/person": {
      "get": {
        "tags": [
          "contact-person-mapping-resource"
        ],
        "summary": "Get paged person mappings by migration id",
        "description": "Retrieve all person mappings. Results are paged. Requires role ROLE_NOMIS_CONTACTPERSONS",
        "operationId": "getAllPersonMappings",
        "parameters": [
          {
            "name": "pageRequest",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Person mapping page returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagePersonMappingDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "contact-person-mapping-resource"
        ],
        "summary": "Creates person mappings for synchronisation",
        "description": "Creates person mappings for synchronisation between NOMIS ids and dps ids. Requires ROLE_NOMIS_CONTACTPERSONS",
        "operationId": "createPersonMapping",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mapping created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access forbidden for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateMappingErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/contact-person/migrate": {
      "post": {
        "tags": [
          "contact-person-mapping-resource"
        ],
        "summary": "Creates a tree of contact person mappings typically for a migration",
        "description": "Creates a tree of contact person mappings typically for a migration between NOMIS ids and dps ids. Requires ROLE_NOMIS_CONTACTPERSONS",
        "operationId": "createMappings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactPersonMappingsDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mappings created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access forbidden for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateMappingErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/contact-person/identifier": {
      "post": {
        "tags": [
          "contact-person-mapping-resource"
        ],
        "summary": "Creates person identifier mappings for synchronisation",
        "description": "Creates person identifier mappings for synchronisation between NOMIS ids and dps ids. Requires ROLE_NOMIS_CONTACTPERSONS",
        "operationId": "createPersonIdentifierMapping",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonIdentifierMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mapping created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access forbidden for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateMappingErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/contact-person/email": {
      "post": {
        "tags": [
          "contact-person-mapping-resource"
        ],
        "summary": "Creates person email mappings for synchronisation",
        "description": "Creates person email mappings for synchronisation between NOMIS ids and dps ids. Requires ROLE_NOMIS_CONTACTPERSONS",
        "operationId": "createPersonEmailMapping",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonEmailMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mapping created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access forbidden for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateMappingErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/contact-person/contact": {
      "post": {
        "tags": [
          "contact-person-mapping-resource"
        ],
        "summary": "Creates person contact mappings for synchronisation",
        "description": "Creates person contact mappings for synchronisation between NOMIS ids and dps ids. Requires ROLE_NOMIS_CONTACTPERSONS",
        "operationId": "createPersonContactMapping",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonContactMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mapping created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access forbidden for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateMappingErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/contact-person/address": {
      "post": {
        "tags": [
          "contact-person-mapping-resource"
        ],
        "summary": "Creates person address mappings for synchronisation",
        "description": "Creates person address mappings for synchronisation between NOMIS ids and dps ids. Requires ROLE_NOMIS_CONTACTPERSONS",
        "operationId": "createPersonAddressMapping",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonAddressMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mapping created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access forbidden for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Indicates a duplicate mapping has been rejected. If Error code = 1409 the body will return a DuplicateErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateMappingErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/casenotes/{offenderNo}/all": {
      "get": {
        "tags": [
          "case-notes-mapping-resource"
        ],
        "summary": "Gets all case note mappings for a prisoner",
        "description": "Gets all the mapping between nomis case note ids and dps case note id related to specific prisoner created either via migration or synchronisation. Requires ROLE_NOMIS_ALERTS",
        "operationId": "getMappingsForPrisoner_1",
        "parameters": [
          {
            "name": "offenderNo",
            "in": "path",
            "description": "NOMIS offender no",
            "required": true,
            "schema": {
              "type": "string",
              "description": "NOMIS offender no",
              "example": "A1234KT"
            },
            "example": "A1234KT"
          }
        ],
        "responses": {
          "200": {
            "description": "Mappings for prisoner",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllPrisonerCaseNoteMappingsDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access forbidden for this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "case-notes-mapping-resource"
        ],
        "summary": "Creates a set of new case note mappings for a prisoner",
        "description": "Creates a mapping between all the nomis case note ids and dps case note ids. Requires ROLE_NOMIS_CASENOTES",
        "operationId": "createMappingsForPrisoner_1",
        "parameters": [
          {
            "name": "offenderNo",
            "in": "path",
            "description": "NOMIS offender no",
            "required": true,
            "schema": {
              "type": "string",
              "description": "NOMIS offender no",
              "example": "A1234KT"
            },
            "example": "A1234KT"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrisonerCaseNoteMappingsDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Mapping created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access this endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
[...]
