services:
  hmpps-prisoner-to-nomis-update:
    build:
      context: .
    networks:
      - hmpps
    container_name: hmpps-prisoner-to-nomis-update
    ports:
      - "8081:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/ping"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev
      - HMPPS_SQS_LOCALSTACK_URL=http://localstack:4566
      - API_BASE_URL_HMPPS_AUTH=http://hmpps-auth:8080/auth
      - API_BASE_URL_NOMIS=http://hmpps-nomis-prisoner-api:8080
      - API_BASE_URL_VISITS=http://hmpps-prisoner-to-nomis-update:8080
      - API_BASE_URL_VISIT_MAPPING=http://hmpps-nomis-visit-mapping-api:8080

  hmpps-auth:
    image: ghcr.io/ministryofjustice/hmpps-auth:latest
    networks:
      - hmpps
    container_name: hmpps-auth
    ports:
      - "8090:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/auth/health"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev

  hmpps-nomis-prisoner-api:
    image: ghcr.io/ministryofjustice/hmpps-nomis-prisoner-api:latest
    networks:
      - hmpps
    container_name: hmpps-nomis-prisoner-api
    ports:
      - "8082:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev
      - API_BASE_URL_HMPPS_AUTH=http://hmpps-auth:8080/auth
      - API_BASE_URL_NOMIS=http://hmpps-nomis-prisoner-api:8080
      - API_BASE_URL_VISITS=http://hmpps-visits-api:8080
      - API_BASE_URL_MAPPING=http://hmpps-nomis-visit-mapping-api:8080

  hmpps-nomis-mapping-api:
    image: ghcr.io/ministryofjustice/hmpps-nomis-mapping-service:latest
    networks:
      - hmpps
    container_name: hmpps-nomis-mapping-api
    ports:
      - "8084:8080"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/health" ]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_FLYWAY_URL=jdbc:postgresql://mapping-db:5432/mapping?sslmode=prefer
      - SPRING_R2DBC_URL=r2dbc:postgresql://mapping-db:5432/mapping?sslmode=prefer
      - API_BASE_URL_HMPPS_AUTH=http:/hmpps-auth:8080/auth

  localstack:
    image: localstack/localstack:4
    networks:
      - hmpps
    container_name: localstack-internal
    environment:
      - SERVICES=sqs,sns
      - DEFAULT_REGION=eu-west-2
      - HOSTNAME_EXTERNAL=localstack
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"


  localstack-external:
    image: localstack/localstack:4
    networks:
      - hmpps
    container_name: localstack-external
    ports:
      - "4566:4566"
    environment:
      - SERVICES=sqs,sns
      - DEFAULT_REGION=eu-west-2
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"

  mapping-db:
    image: postgres
    networks:
      - hmpps
    container_name: mapping-db-to-nomis
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=mapping
      - POSTGRES_USER=mapping
      - POSTGRES_DB=mapping

networks:
  hmpps:
