hmpps.sqs:
  provider: localstack
  queues:
    visit:
      queueName: hmpps_prisoner_to_nomis_visit_queue
      dlqName: hmpps_prisoner_to_nomis_visit_dlq
      subscribeTopicId: domainevents
      subscribeFilter: >-
        { "eventType":[
        "prison-visit.booked",
        "prison-visit.changed",
        "prison-visit.cancelled"]}
    incentive:
      queueName: hmpps_prisoner_to_nomis_incentive_queue
      dlqName: hmpps_prisoner_to_nomis_incentive_dlq
      subscribeTopicId: domainevents
      subscribeFilter: >-
        { "eventType":[
        "incentives.iep-review.inserted",
        "incentives.level.changed",
        "incentives.levels.reordered",
        "incentives.prison-level.changed"]}
    activity:
      queueName: hmpps_prisoner_to_nomis_activity_queue
      dlqName: hmpps_prisoner_to_nomis_activity_dlq
      subscribeTopicId: domainevents
      subscribeFilter: >-
        { "eventType":[
        "activities.activity-schedule.created",
        "activities.activity-schedule.amended",
        "activities.scheduled-instance.amended",
        "activities.prisoner.allocated",
        "activities.prisoner.deallocated",
        "activities.prisoner.allocation-amended",
        "activities.prisoner.attendance-created",
        "activities.prisoner.attendance-amended",
        "activities.prisoner.attendance-expired"]}
    appointment:
      queueName: hmpps_prisoner_to_nomis_appointment_queue
      dlqName: hmpps_prisoner_to_nomis_appointment_dlq
      subscribeTopicId: domainevents
      subscribeFilter: >-
        { "eventType":[
        "appointments.appointment-instance.created",
        "appointments.appointment-instance.updated",
        "appointments.appointment-instance.cancelled",
        "appointments.appointment-instance.uncancelled",
        "appointments.appointment-instance.deleted"]}
    nonassociation:
      queueName: hmpps_prisoner_to_nomis_nonassociation_queue
      dlqName: hmpps_prisoner_to_nomis_nonassociation_dlq
      subscribeTopicId: domainevents
      subscribeFilter: >-
        { "eventType":[
        "non-associations.created",
        "non-associations.deleted",
        "non-associations.amended",
        "non-associations.closed",
        "prison-offender-events.prisoner.merged",
        "prison-offender-events.prisoner.booking.moved"]}
    location:
      queueName: hmpps_prisoner_to_nomis_location_queue
      dlqName: hmpps_prisoner_to_nomis_location_dlq
      errorVisibilityTimeout: 0
      subscribeTopicId: domainevents
      subscribeFilter: >-
        { "eventType":[
          "location.inside.prison.created",
          "location.inside.prison.amended",
          "location.inside.prison.deactivated",
          "location.inside.prison.reactivated",
          "location.inside.prison.capacity.changed",
          "location.inside.prison.certification.changed",
          "location.inside.prison.deleted"]}
    sentencing:
      queueName: hmpps_prisoner_to_nomis_sentencing_queue
      dlqName: hmpps_prisoner_to_nomis_sentencing_dlq
      subscribeTopicId: domainevents
      subscribeFilter: >-
        { "eventType":[
        "release-date-adjustments.adjustment.inserted",
        "release-date-adjustments.adjustment.updated",
        "release-date-adjustments.adjustment.deleted"]}
    adjudication:
      queueName: hmpps_prisoner_to_nomis_adjudication_queue
      dlqName: hmpps_prisoner_to_nomis_adjudication_dlq
      subscribeTopicId: domainevents
      subscribeFilter: >-
        { "eventType":[
          "adjudication.report.created",
          "adjudication.damages.updated",
          "adjudication.evidence.updated",
          "adjudication.hearing.created",
          "adjudication.hearing.updated",
          "adjudication.hearing.deleted",
          "adjudication.hearingCompleted.created",
          "adjudication.hearingAdjourn.created",
          "adjudication.hearingReferral.created",
          "adjudication.referral.outcome.prosecution",
          "adjudication.referral.outcome.notProceed",
          "adjudication.referral.outcome.referGov",
          "adjudication.outcome.referPolice",
          "adjudication.outcome.notProceed",
          "adjudication.hearingOutcome.updated",
          "adjudication.hearingCompleted.deleted",
          "adjudication.hearingAdjourn.deleted",
          "adjudication.hearingReferral.deleted",
          "adjudication.referral.outcome.deleted",
          "adjudication.referral.deleted",
          "adjudication.outcome.notProceed.deleted",
          "adjudication.punishments.created",
          "adjudication.punishments.updated",
          "adjudication.punishments.deleted",
          "adjudication.outcome.quashed",
          "adjudication.outcome.unquashed"]}
    courtsentencing:
      queueName: hmpps_prisoner_to_nomis_court_sentencing_queue
      dlqName: hmpps_prisoner_to_nomis_court_sentencing_dlq
      subscribeTopicId: domainevents
      subscribeFilter: >-
        { "eventType":[
        "court-case.inserted",
        "court-appearance.inserted",
        "legacy.court-case-references.updated",
        "court-appearance.updated"]}
    fromnomiscourtsentencing:
      queueName: hmpps_prisoner_from_nomis_court_sentencing_queue
    alerts:
      queueName: hmpps_prisoner_to_nomis_alerts_queue
      dlqName: hmpps_prisoner_to_nomis_alerts_dlq
      subscribeTopicId: domainevents
      subscribeFilter: >-
        { "eventType":[
          "person.alert.created",
          "person.alert.updated",
          "person.alert.deleted"]}
    casenotes:
      queueName: hmpps_prisoner_to_nomis_casenotes_queue
      dlqName: hmpps_prisoner_to_nomis_casenotes_dlq
      subscribeTopicId: domainevents
      subscribeFilter: >-
        { "eventType":[
          "person.case-note.created",
          "person.case-note.updated",
          "person.case-note.deleted"]}
    csip:
      queueName: hmpps_prisoner_to_nomis_csip_queue
      dlqName: hmpps_prisoner_to_nomis_csip_dlq
      subscribeTopicId: domainevents
      subscribeFilter: >-
        { "eventType":[
            "person.csip-record.created",
            "person.csip-record.updated",
            "person.csip-record.deleted"
        ]}
    incidents:
      queueName: hmpps_prisoner_to_nomis_incidents_queue
      dlqName: hmpps_prisoner_to_nomis_incidents_dlq
      subscribeTopicId: domainevents
      subscribeFilter: >-
        { "eventType":[
            "incident.report.created",          
            "incident.report.amended"          
        ]}
    personalrelationships:
      queueName: hmpps_prisoner_to_nomis_personalrelationships_queue
      dlqName: hmpps_prisoner_to_nomis_personalrelationships_dlq
      subscribeTopicId: domainevents
      subscribeFilter: >-
        { "eventType":[
          "TBD"
        ]}
    organisations:
      queueName: hmpps_prisoner_to_nomis_organisations_queue
      dlqName: hmpps_prisoner_to_nomis_organisations_dlq
      subscribeTopicId: domainevents
      subscribeFilter: >-
        { "eventType":[
          "organisations-api.organisation.created",
          "organisations-api.organisation.updated",
          "organisations-api.organisation.deleted",
          "organisations-api.organisation-type.created",
          "organisations-api.organisation-type.updated",
          "organisations-api.organisation-type.deleted",
          "organisations-api.organisation-address.created",
          "organisations-api.organisation-address.updated",
          "organisations-api.organisation-address.deleted",
          "organisations-api.organisation-email.created",
          "organisations-api.organisation-email.updated",
          "organisations-api.organisation-email.deleted",
          "organisations-api.organisation-web-address.created",
          "organisations-api.organisation-web-address.updated",
          "organisations-api.organisation-web-address.deleted",
          "organisations-api.organisation-phone.created",
          "organisations-api.organisation-phone.updated",
          "organisations-api.organisation-phone.deleted",
          "organisations-api.organisation-address-phone.created",
          "organisations-api.organisation-address-phone.updated",
          "organisations-api.organisation-address-phone.deleted"
        ]}
    visitbalance:
      queueName: hmpps_prisoner_to_nomis_visitbalance_queue
      dlqName: hmpps_prisoner_to_nomis_visitbalance_dlq
      subscribeTopicId: domainevents
      subscribeFilter: >-
        { "eventType":[
            "prison-visit-allocation.adjustment.created",          
            "prison-visit-allocation.balance.updated"          
        ]}
    externalmovements:
      queueName: hmpps_prisoner_to_nomis_externalmovements_queue
      dlqName: hmpps_prisoner_to_nomis_externalmovements_dlq
      subscribeTopicId: domainevents
      subscribeFilter: >-
        { "eventType":[
            "external-movements-api.temporary-absence-application.created"          
        ]}
    officialvisits:
      queueName: hmpps_prisoner_to_nomis_officialvisits_queue
      dlqName: hmpps_prisoner_to_nomis_officialvisits_dlq
      subscribeTopicId: domainevents
      subscribeFilter: >-
        { "eventType":[
            "tbd"          
        ]}
  topics:
    domainevents:
      arn: arn:aws:sns:eu-west-2:000000000000:hmpps_domain_events
