generic-service:
  nameOverride: hmpps-prisoner-to-nomis-update
  productId: DPS060

  replicaCount: 4

  resources:
    requests:
      cpu: 10m
      memory: 640Mi
    limits:
      cpu: 2000m
      memory: 2048Mi

  image:
    repository: ghcr.io/ministryofjustice/hmpps-prisoner-to-nomis-update
    tag: app_version # override at deployment time
    port: 8080

  ingress:
    enabled: true
    v1_2_enabled: true
    v0_47_enabled: false
    annotations:
      nginx.ingress.kubernetes.io/server-snippet: |
        server_tokens off;
        location /queue-admin/retry-all-dlqs {
          deny all;
          return 401;
        }
    host: app-hostname.local # override per environment
    tlsSecretName: prisoner-to-nomis-cert

  serviceAccountName: hmpps-prisoner-to-nomis-update

  # Environment variables to load into the deployment
  env:
    SERVER_PORT: "8080"
    SPRING_PROFILES_ACTIVE: "logstash"
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.json
    REPORTS_CONTACT-PERSON_PROFILE-DETAILS_RECONCILIATION_PAGE-SIZE: 1000
    REPORTS_CONTACT-PERSON_PROFILE-DETAILS_RECONCILIATION_PARALLEL-JOBS: 6

  # Pre-existing kubernetes secrets to load as environment variables in the deployment.
  # namespace_secrets:
  #   [name of kubernetes secret]:
  #     [name of environment variable as seen by app]: [key of kubernetes secret to load]

  namespace_secrets:
    hmpps-prisoner-to-nomis-update-application-insights:
      APPLICATIONINSIGHTS_CONNECTION_STRING: "APPLICATIONINSIGHTS_CONNECTION_STRING"
    hmpps-prisoner-to-nomis-update-client-creds:
      ACTIVITIES_CLIENT_ID: "ACTIVITIES_CLIENT_ID"
      ACTIVITIES_CLIENT_SECRET: "ACTIVITIES_CLIENT_SECRET"
      ADJUDICATIONS_CLIENT_ID: "ADJUDICATIONS_CLIENT_ID"
      ADJUDICATIONS_CLIENT_SECRET: "ADJUDICATIONS_CLIENT_SECRET"
      ALERTS_CLIENT_ID: "ALERTS_CLIENT_ID"
      ALERTS_CLIENT_SECRET: "ALERTS_CLIENT_SECRET"
      API_CLIENT_ID: "API_CLIENT_ID"
      API_CLIENT_SECRET: "API_CLIENT_SECRET"
      APPOINTMENTS_CLIENT_ID: "APPOINTMENTS_CLIENT_ID"
      APPOINTMENTS_CLIENT_SECRET: "APPOINTMENTS_CLIENT_SECRET"
      CASENOTES_CLIENT_ID: "CASENOTES_CLIENT_ID"
      CASENOTES_CLIENT_SECRET: "CASENOTES_CLIENT_SECRET"
      CORE_PERSON_CLIENT_ID: "CORE_PERSON_CLIENT_ID"
      CORE_PERSON_CLIENT_SECRET: "CORE_PERSON_CLIENT_SECRET"
      COURT_SENTENCING_CLIENT_ID: "COURT_SENTENCING_CLIENT_ID"
      COURT_SENTENCING_CLIENT_SECRET: "COURT_SENTENCING_CLIENT_SECRET"
      CSIP_CLIENT_ID: "CSIP_CLIENT_ID"
      CSIP_CLIENT_SECRET: "CSIP_CLIENT_SECRET"
      EXT_MOVEMENTS_CLIENT_ID: "EXT_MOVEMENTS_CLIENT_ID"
      EXT_MOVEMENTS_CLIENT_SECRET: "EXT_MOVEMENTS_CLIENT_SECRET"
      FINANCE_CLIENT_ID: "FINANCE_CLIENT_ID"
      FINANCE_CLIENT_SECRET: "FINANCE_CLIENT_SECRET"
      INCENTIVES_CLIENT_ID: "INCENTIVES_CLIENT_ID"
      INCENTIVES_CLIENT_SECRET: "INCENTIVES_CLIENT_SECRET"
      INCIDENTS_CLIENT_ID: "INCIDENTS_CLIENT_ID"
      INCIDENTS_CLIENT_SECRET: "INCIDENTS_CLIENT_SECRET"
      LOCATIONS_CLIENT_ID: "LOCATIONS_CLIENT_ID"
      LOCATIONS_CLIENT_SECRET: "LOCATIONS_CLIENT_SECRET"
      MAPPING_CLIENT_ID: "MAPPING_CLIENT_ID"
      MAPPING_CLIENT_SECRET: "MAPPING_CLIENT_SECRET"
      NON_ASSOCIATIONS_CLIENT_ID: "NON_ASSOCIATIONS_CLIENT_ID"
      NON_ASSOCIATIONS_CLIENT_SECRET: "NON_ASSOCIATIONS_CLIENT_SECRET"
      ORGANISATIONS_CLIENT_ID: "ORGANISATIONS_CLIENT_ID"
      ORGANISATIONS_CLIENT_SECRET: "ORGANISATIONS_CLIENT_SECRET"
      PERSONAL_RELATIONSHIPS_CLIENT_ID: "PERSONAL_RELATIONSHIPS_CLIENT_ID"
      PERSONAL_RELATIONSHIPS_CLIENT_SECRET: "PERSONAL_RELATIONSHIPS_CLIENT_SECRET"
      SENTENCE_ADJUSTMENTS_CLIENT_ID: "SENTENCE_ADJUSTMENTS_CLIENT_ID"
      SENTENCE_ADJUSTMENTS_CLIENT_SECRET: "SENTENCE_ADJUSTMENTS_CLIENT_SECRET"
      VISIT_BALANCE_CLIENT_ID: "VISIT_BALANCE_CLIENT_ID"
      VISIT_BALANCE_CLIENT_SECRET: "VISIT_BALANCE_CLIENT_SECRET"
      VISITS_CLIENT_ID: "VISITS_CLIENT_ID"
      VISITS_CLIENT_SECRET: "VISITS_CLIENT_SECRET"
      OFFICIALVISITS_CLIENT_ID: "OFFICIALVISITS_CLIENT_ID"
      OFFICIALVISITS_CLIENT_SECRET: "OFFICIALVISITS_CLIENT_SECRET"
    domain-events-sqs-nomis-update-visit:
      HMPPS_SQS_QUEUES_VISIT_QUEUE_NAME: "sqs_queue_name"
    domain-events-sqs-nomis-update-visit-dlq:
      HMPPS_SQS_QUEUES_VISIT_DLQ_NAME: "sqs_queue_name"
    domain-events-sqs-nomis-update-incentive:
      HMPPS_SQS_QUEUES_INCENTIVE_QUEUE_NAME: "sqs_queue_name"
    domain-events-sqs-nomis-update-incentive-dlq:
      HMPPS_SQS_QUEUES_INCENTIVE_DLQ_NAME: "sqs_queue_name"
    domain-events-sqs-nomis-update-activity:
      HMPPS_SQS_QUEUES_ACTIVITY_QUEUE_NAME: "sqs_queue_name"
    domain-events-sqs-nomis-update-activity-dlq:
      HMPPS_SQS_QUEUES_ACTIVITY_DLQ_NAME: "sqs_queue_name"
    domain-events-sqs-nomis-update-appointment:
      HMPPS_SQS_QUEUES_APPOINTMENT_QUEUE_NAME: "sqs_queue_name"
    domain-events-sqs-nomis-update-appointment-dlq:
      HMPPS_SQS_QUEUES_APPOINTMENT_DLQ_NAME: "sqs_queue_name"
    sqs-nomis-update-nonassociation-secret:
      HMPPS_SQS_QUEUES_NONASSOCIATION_QUEUE_NAME: "sqs_queue_name"
    sqs-nomis-update-nonassociation-dlq-secret:
      HMPPS_SQS_QUEUES_NONASSOCIATION_DLQ_NAME: "sqs_queue_name"
    sqs-nomis-update-location-secret:
      HMPPS_SQS_QUEUES_LOCATION_QUEUE_NAME: "sqs_queue_name"
    sqs-nomis-update-location-dlq-secret:
      HMPPS_SQS_QUEUES_LOCATION_DLQ_NAME: "sqs_queue_name"
    domain-events-sqs-nomis-update-sentencing:
      HMPPS_SQS_QUEUES_SENTENCING_QUEUE_NAME: "sqs_queue_name"
    domain-events-sqs-nomis-update-sentencing-dlq:
      HMPPS_SQS_QUEUES_SENTENCING_DLQ_NAME: "sqs_queue_name"
    sqs-nomis-update-adjudication-secret:
      HMPPS_SQS_QUEUES_ADJUDICATION_QUEUE_NAME: "sqs_queue_name"
    sqs-nomis-update-adjudication-dlq-secret:
      HMPPS_SQS_QUEUES_ADJUDICATION_DLQ_NAME: "sqs_queue_name"
    domain-events-sqs-nomis-update-court-sentencing:
      HMPPS_SQS_QUEUES_COURTSENTENCING_QUEUE_NAME: "sqs_queue_name"
    domain-events-sqs-nomis-update-court-sentencing-dlq:
      HMPPS_SQS_QUEUES_COURTSENTENCING_DLQ_NAME: "sqs_queue_name"
    domain-events-sqs-nomis-update-alerts:
      HMPPS_SQS_QUEUES_ALERTS_QUEUE_NAME: "sqs_queue_name"
    domain-events-sqs-nomis-update-alerts-dlq:
      HMPPS_SQS_QUEUES_ALERTS_DLQ_NAME: "sqs_queue_name"
    domain-events-sqs-nomis-update-casenotes:
      HMPPS_SQS_QUEUES_CASENOTES_QUEUE_NAME: "sqs_queue_name"
    domain-events-sqs-nomis-update-casenotes-dlq:
      HMPPS_SQS_QUEUES_CASENOTES_DLQ_NAME: "sqs_queue_name"
    domain-events-sqs-nomis-update-csip:
      HMPPS_SQS_QUEUES_CSIP_QUEUE_NAME: "sqs_queue_name"
    domain-events-sqs-nomis-update-csip-dlq:
      HMPPS_SQS_QUEUES_CSIP_DLQ_NAME: "sqs_queue_name"
    domain-events-sqs-nomis-update-incidents:
      HMPPS_SQS_QUEUES_INCIDENTS_QUEUE_NAME: "sqs_queue_name"
    domain-events-sqs-nomis-update-incidents-dlq:
      HMPPS_SQS_QUEUES_INCIDENTS_DLQ_NAME: "sqs_queue_name"
    domain-events-sqs-nomis-update-personalrelationships:
      HMPPS_SQS_QUEUES_PERSONALRELATIONSHIPS_QUEUE_NAME: "sqs_queue_name"
    domain-events-sqs-nomis-update-personalrelationships-dlq:
      HMPPS_SQS_QUEUES_PERSONALRELATIONSHIPS_DLQ_NAME: "sqs_queue_name"
    domain-events-sqs-nomis-update-organisations:
      HMPPS_SQS_QUEUES_ORGANISATIONS_QUEUE_NAME: "sqs_queue_name"
    domain-events-sqs-nomis-update-organisations-dlq:
      HMPPS_SQS_QUEUES_ORGANISATIONS_DLQ_NAME: "sqs_queue_name"
    domain-events-sqs-nomis-update-visitbalance:
      HMPPS_SQS_QUEUES_VISITBALANCE_QUEUE_NAME: "sqs_queue_name"
    domain-events-sqs-nomis-update-visitbalance-dlq:
      HMPPS_SQS_QUEUES_VISITBALANCE_DLQ_NAME: "sqs_queue_name"
    prisoner-from-nomis-courtsentencing-queue:
      HMPPS_SQS_QUEUES_FROMNOMISCOURTSENTENCING_QUEUE_NAME: "sqs_queue_name"
    domain-events-sqs-nomis-update-externalmovements:
      HMPPS_SQS_QUEUES_EXTERNALMOVEMENTS_QUEUE_NAME: "sqs_queue_name"
    domain-events-sqs-nomis-update-externalmovements-dlq:
      HMPPS_SQS_QUEUES_EXTERNALMOVEMENTS_DLQ_NAME: "sqs_queue_name"
    domain-events-sqs-nomis-update-officialvisits:
      HMPPS_SQS_QUEUES_OFFICIALVISITS_QUEUE_NAME: "sqs_queue_name"
    domain-events-sqs-nomis-update-officialvisits-dlq:
      HMPPS_SQS_QUEUES_OFFICIALVISITS_DLQ_NAME: "sqs_queue_name"

  allowlist:
    groups:
      - internal

# CloudPlatform AlertManager receiver to route prometheus alerts to slack
# See https://user-guide.cloud-platform.service.justice.gov.uk/documentation/monitoring-an-app/how-to-create-alarms.html#creating-your-own-custom-alerts
generic-prometheus-alerts:
  targetApplication: hmpps-prisoner-to-nomis-update
  alertSeverity: syscon
  cronjobTargetOverride: "hmpps-prisoner-to-nomis-update-queue-.*"
  sqsAlertsTotalMessagesThreshold: "0"

cron:
  visitBalanceReportSchedule: "45 4 * * *"
