---
# Per environment values which override defaults in hmpps-prisoner-to-nomis-update/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    host: prisoner-to-nomis-update-dev.hmpps.service.justice.gov.uk

  env:
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.dev.json
    API_BASE_URL_HMPPS_AUTH: https://sign-in-dev.hmpps.service.justice.gov.uk/auth
    API_BASE_URL_NOMIS: https://nomis-prisoner-api-dev.prison.service.justice.gov.uk
    API_BASE_URL_MAPPING: https://nomis-sync-prisoner-mapping-dev.hmpps.service.justice.gov.uk
    API_BASE_URL_VISITS: https://visit-scheduler-dev.prison.service.justice.gov.uk
    API_BASE_URL_INCENTIVES: https://incentives-api-dev.hmpps.service.justice.gov.uk
    API_BASE_URL_ACTIVITIES: https://activities-api-dev.prison.service.justice.gov.uk
    API_BASE_URL_APPOINTMENTS: https://activities-api-dev.prison.service.justice.gov.uk
    API_BASE_URL_SENTENCE_ADJUSTMENTS: https://adjustments-api-dev.hmpps.service.justice.gov.uk
    API_BASE_URL_COURT_SENTENCING: https://remand-and-sentencing-api-dev.hmpps.service.justice.gov.uk
    API_BASE_URL_ADJUDICATIONS: https://manage-adjudications-api-dev.hmpps.service.justice.gov.uk
    API_BASE_URL_FINANCE: https://prisoner-finance-sync-api-dev.hmpps.service.justice.gov.uk
    API_BASE_URL_NON_ASSOCIATIONS: https://non-associations-api-dev.hmpps.service.justice.gov.uk
    API_BASE_URL_LOCATIONS: https://locations-inside-prison-api-dev.hmpps.service.justice.gov.uk
    API_BASE_URL_ALERTS: https://alerts-api-dev.hmpps.service.justice.gov.uk
    API_BASE_URL_CSIP: https://csip-api-dev.hmpps.service.justice.gov.uk
    API_BASE_URL_CASENOTES: https://dev.offender-case-notes.service.justice.gov.uk
    API_BASE_URL_INCIDENTS: https://incident-reporting-api-dev.hmpps.service.justice.gov.uk
    API_BASE_URL_PERSONAL_RELATIONSHIPS: https://personal-relationships-api-dev.hmpps.service.justice.gov.uk
    API_BASE_URL_ORGANISATIONS: https://organisations-api-dev.hmpps.service.justice.gov.uk
    API_BASE_URL_VISIT_BALANCE: https://hmpps-visit-allocation-api-dev.prison.service.justice.gov.uk
    API_BASE_URL_CORE_PERSON: https://hmpps-person-record-dev.hmpps.service.justice.gov.uk
    API_BASE_URL_EXT_MOVEMENTS: https://external-movements-api-dev.hmpps.service.justice.gov.uk
    API_BASE_URL_OFFICIALVISITS: https://official-visits-api-dev.hmpps.service.justice.gov.uk
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION_CREATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION_UPDATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION_DELETED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-TYPES_UPDATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-ADDRESS_CREATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-ADDRESS_UPDATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-ADDRESS_DELETED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-EMAIL_CREATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-EMAIL_UPDATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-EMAIL_DELETED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-WEB_CREATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-WEB_UPDATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-WEB_DELETED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-PHONE_CREATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-PHONE_UPDATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-PHONE_DELETED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-ADDRESS-PHONE_CREATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-ADDRESS-PHONE_UPDATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-ADDRESS-PHONE_DELETED: false
    REPORTS_CONTACT-PERSON_PRISONER-CONTACT_RECONCILIATION_PAGE-SIZE: 5
    REPORTS_CONTACT-PERSON_PERSON-CONTACT_RECONCILIATION_PAGE-SIZE: 10
    REPORTS_PRISONER_BALANCE_RECONCILIATION_FILTER_PRISON: ASI,BWI,LEI
    SPRINGDOC_API-DOCS_ENABLED: "true"
    SPRINGDOC_SWAGGER-UI_ENABLED: "true"

  # The name has max length of 21 chars (Cronjob name max length is 52 chars, including prefix "hmpps-prisoner-to-nomis-update-")
  # The type must exist in enum BatchType
  # Can be removed once testing in dev complete
  batchjobs:
    - name: prison-bal-recon
      type: PRISON_BALANCE_RECON
      schedule: "30 2 * * *"
    - name: prisoner-bal-recon
      type: PRISONER_BALANCE_RECON
      schedule: "30 3 * * *"
    - name: prison-transactions-recon
      type: PRISON_TRANSACTIONS_RECON
      schedule: "00 2 * * *"
      suspend: true
    - name: prisoner-transactions-recon
      type: PRISONER_TRANSACTIONS_RECON
      schedule: "00 3 * * *"
      suspend: true
    - name: core-person-recon
      type: CORE_PERSON_FULL_RECON
      schedule: "30 12 * * *"
      suspend: true
    - name: core-person-ac-recon
      type: COREPERSON_ACTIVE_RECON
      schedule: "30 14 * * *"
      suspend: true
    - name: visit-slots-recon
      type: VISIT_SLOTS_RECON
      schedule: "45 2 * * *"
      suspend: true

generic-prometheus-alerts:
  businessHoursOnly: true
  alertSeverity: syscon-nonprod
  sqsNumberAlertQueueMappings:
    visits:
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_visit_queue"
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_visit_dlq"
    incentives:
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_incentive_queue"
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_incentive_dlq"
    activities:
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_activity_queue"
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_activity_dlq"
    appointments:
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_appointment_queue"
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_appointment_dlq"
    sentencing:
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_sentencing_queue"
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_sentencing_dlq"
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_court_sentencing_queue"
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_court_sentencing_dlq"
    adjudications:
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_adjudication_queue"
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_adjudication_dead_letter_queue"
    nonassociations:
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_nonassociation_queue"
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_nonassociation_dead_letter_queue"
    locations:
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_location_queue"
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_location_dead_letter_queue"
    alerts:
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_alerts_queue"
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_alerts_dlq"
    casenotes:
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_casenotes_queue"
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_casenotes_dlq"
    csip:
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_csip_queue"
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_csip_dead_letter_queue"
    incidents:
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_incidents_queue"
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_incidents_dlq"
    personalrelationships:
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_personalrelationships_queue"
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_personalrelationships_dlq"
    organisations:
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_organisations_queue"
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_organisations_dlq"
    visitbalance:
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_visitbalance_queue"
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_visitbalance_dlq"
    externalmovements:
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_externalmovements_queue"
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_externalmovements_dlq"
    officialvisits:
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_officialvisits_queue"
      - "syscon-devs-dev-hmpps_prisoner_to_nomis_officialvisits_dlq"


