---
# Per environment values which override defaults in hmpps-prisoner-to-nomis-update/values.yaml

generic-service:
  replicaCount: 4

  ingress:
    host: prisoner-to-nomis-update.hmpps.service.justice.gov.uk

  env:
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.json
    API_BASE_URL_HMPPS_AUTH: https://sign-in.hmpps.service.justice.gov.uk/auth
    API_BASE_URL_MAPPING: https://nomis-sync-prisoner-mapping.hmpps.service.justice.gov.uk
    API_BASE_URL_NOMIS: https://nomis-prisoner-api.prison.service.justice.gov.uk
    API_BASE_URL_ACTIVITIES: https://activities-api.prison.service.justice.gov.uk
    API_BASE_URL_ADJUDICATIONS: https://manage-adjudications-api.hmpps.service.justice.gov.uk
    API_BASE_URL_ALERTS: https://alerts-api.hmpps.service.justice.gov.uk
    API_BASE_URL_APPOINTMENTS: https://activities-api.prison.service.justice.gov.uk
    API_BASE_URL_CSIP: https://csip-api.hmpps.service.justice.gov.uk
    API_BASE_URL_CASENOTES: https://offender-case-notes.service.justice.gov.uk
    API_BASE_URL_COURT_SENTENCING: https://remand-and-sentencing-api.hmpps.service.justice.gov.uk
    API_BASE_URL_EXT_MOVEMENTS: https://external-movements-api.hmpps.service.justice.gov.uk
    # currently set to self for a mock API until real API is ready
    API_BASE_URL_FINANCE: https://prisoner-to-nomis-update.hmpps.service.justice.gov.uk
    API_BASE_URL_INCENTIVES: https://incentives-api.hmpps.service.justice.gov.uk
    API_BASE_URL_INCIDENTS: https://incident-reporting-api.hmpps.service.justice.gov.uk
    API_BASE_URL_LOCATIONS: https://locations-inside-prison-api.hmpps.service.justice.gov.uk
    API_BASE_URL_NON_ASSOCIATIONS: https://non-associations-api.hmpps.service.justice.gov.uk
    API_BASE_URL_ORGANISATIONS: https://organisations-api.hmpps.service.justice.gov.uk
    API_BASE_URL_PERSONAL_RELATIONSHIPS: https://personal-relationships-api.hmpps.service.justice.gov.uk
    API_BASE_URL_SENTENCE_ADJUSTMENTS: https://adjustments-api.hmpps.service.justice.gov.uk
    API_BASE_URL_VISITS: https://visit-scheduler.prison.service.justice.gov.uk
    API_BASE_URL_VISIT_BALANCE: https://hmpps-visit-allocation-api.prison.service.justice.gov.uk
    API_BASE_URL_CORE_PERSON: https://hmpps-person-record.hmpps.service.justice.gov.uk
    API_BASE_URL_OFFICIALVISITS: https://official-visits-api.hmpps.service.justice.gov.uk
    REPORTS_SENTENCING_RECONCILIATION_ALL_PRISONERS: true
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION_CREATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION_UPDATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION_DELETED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-TYPES_UPDATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-ADDRESS_CREATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-ADDRESS_UPDATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-ADDRESS_DELETED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-EMAIL_CREATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-EMAIL_UPDATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-EMAIL_DELETED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-WEB_CREATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-WEB_UPDATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-WEB_DELETED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-PHONE_CREATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-PHONE_UPDATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-PHONE_DELETED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-ADDRESS-PHONE_CREATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-ADDRESS-PHONE_UPDATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-ADDRESS-PHONE_DELETED: false
    REPORTS_CONTACT-PERSON_PRISONER-CONTACT_RECONCILIATION_PAGE-SIZE: 10
    REPORTS_CONTACT-PERSON_PERSON-CONTACT_RECONCILIATION_PAGE-SIZE: 30

  # The name has max length of 21 chars (Cronjob name max length is 52 chars, including prefix "hmpps-prisoner-to-nomis-update-")
  # The type must exist in enum BatchType
  batchjobs:
    - name: adjudication-recon
      type: ADJUDICATION_RECON
      schedule: "30 2 * * 1"
    - name: alert-recon
      type: ALERT_RECON
      schedule: "45 4 * * *"
    - name: allocations-recon
      type: ALLOCATION_RECON
      schedule: "5 7 * * *"
    - name: appointment-recon
      type: APPOINTMENT_RECON
      schedule: "5 0 * * *"
    - name: attendances-recon
      type: ATTENDANCE_RECON
      schedule: "5 1 * * *"
    - name: casenote-active-recon
      type: CASE_NOTES_ACTIVE_RECON
      schedule: "30 19 * * SUN,MON,TUE,WED,THU"
      resources:
        requests:
          cpu: 10m
          memory: 640Mi
        limits:
          cpu: 2000m
          memory: 2048Mi
    - name: casenote-full-recon
      type: CASE_NOTES_FULL_RECON
      schedule: "30 19 * * FRI"
      resources:
        requests:
          cpu: 10m
          memory: 640Mi
        limits:
          cpu: 2000m
          memory: 2048Mi
    - name: con-per-prf-det-recon
      type: CONTACT_PERSON_PROFILE_DETAILS_RECON
      schedule: "30 3 * * *"
    - name: court-case-recon
      type: COURT_CASE_PRISONER_RECON
      schedule: "0 19 * * SAT"
    - name: court-case-a-recon
      type: COURT_CASE_ACTIVE_PRISONER_RECON
      schedule: "10 3 * * *"
    - name: csip-recon
      type: CSIP_RECON
      schedule: "5 0 * * *"
    - name: incentives-recon
      type: INCENTIVES_RECON
      schedule: "10 4 * * 1"
    - name: incidents-recon
      type: INCIDENTS_RECON
      schedule: "15 2 * * *"
    - name: locations-recon
      type: LOCATIONS_RECON
      schedule: "30 2 * * 3"
    - name: non-assoc-recon
      type: NON_ASSOCIATIONS_RECON
      schedule: "30 2 * * 2"
    - name: organisations-recon
      type: ORGANISATIONS_RECON
      schedule: "30 4 * * *"
    - name: person-contact-recon
      type: PERSON_CONTACT_RECON
      schedule: "50 1 * * 6"
    - name: prisner-contact-recon
      type: PRISONER_CONTACT_RECON
      schedule: "50 3 * * *"
    - name: priner-restrict-recon
      type: PRISONER_RESTRICTION_RECON
      schedule: "10 4 * * *"
    - name: sentencing-recon
      type: SENTENCING_RECON
      schedule: "50 1 * * *"
    - name: suspended-alloc-recon
      type: SUSPENDED_ALLOCATION_RECON
      schedule: "35 7 * * *"
    - name: visit-balance-recon
      type: VISIT_BALANCE_RECON
      schedule: "45 4 * * *"
    - name: official-visits-all-recon
      type: OFFICIAL_VISIT_ALL_RECON
      schedule: "30 5 * * SAT"
      suspend: true
    - name: official-visits-all-missing-recon
      type: OFFICIAL_VISIT_ALL_MISSING_RECON
      schedule: "30 3 * * SAT"
      suspend: true
    - name: official-visits-active-sch-recon
      type: OFFICIAL_VISIT_ACTIVE_SCH_RECON
      schedule: "10 2 * * SUN,MON,TUE,WED,THU"
      suspend: true
    - name: tap-all-prisoners-recon
      type: TAP_ALL_PRISONERS_RECON
      schedule: "00 1 * * *"
    - name: visit-slots-recon
      type: VISIT_SLOTS_RECON
      schedule: "45 2 * * *"
      suspend: true

generic-prometheus-alerts:
  sqsNumberAlertQueueMappings:
    visits:
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_visit_queue"
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_visit_dlq"
    incentives:
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_incentive_queue"
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_incentive_dlq"
    activities:
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_activity_queue"
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_activity_dlq"
    appointments:
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_appointment_queue"
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_appointment_dlq"
    sentencing:
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_sentencing_queue"
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_sentencing_dlq"
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_court_sentencing_queue"
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_court_sentencing_dlq"
    adjudications:
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_adjudication_dead_letter_queue"
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_adjudication_queue"
    nonassociations:
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_nonassociation_queue"
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_nonassociation_dead_letter_queue"
    locations:
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_location_queue"
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_location_dead_letter_queue"
    alerts:
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_alerts_queue"
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_alerts_dlq"
    casenotes:
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_casenotes_queue"
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_casenotes_dlq"
    csip:
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_csip_queue"
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_csip_dead_letter_queue"
    incidents:
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_incidents_queue"
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_incidents_dlq"
    personalrelationships:
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_personalrelationships_queue"
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_personalrelationships_dlq"
    organisations:
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_organisations_queue"
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_organisations_dlq"
    visitbalance:
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_visitbalance_queue"
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_visitbalance_dlq"
    externalmovements:
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_externalmovements_queue"
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_externalmovements_dlq"
    officialvisits:
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_officialvisits_queue"
      - "syscon-devs-prod-hmpps_prisoner_to_nomis_officialvisits_dlq"
