---
# Per environment values which override defaults in hmpps-prisoner-to-nomis-update/values.yaml

generic-service:
  replicaCount: 4

  ingress:
    host: prisoner-to-nomis-update-preprod.hmpps.service.justice.gov.uk

  env:
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.dev.json
    API_BASE_URL_HMPPS_AUTH: https://sign-in-preprod.hmpps.service.justice.gov.uk/auth
    API_BASE_URL_NOMIS: https://nomis-prisoner-api-preprod.prison.service.justice.gov.uk
    API_BASE_URL_MAPPING: https://nomis-sync-prisoner-mapping-preprod.hmpps.service.justice.gov.uk
    API_BASE_URL_VISITS: https://visit-scheduler-preprod.prison.service.justice.gov.uk
    API_BASE_URL_INCENTIVES: https://incentives-api-preprod.hmpps.service.justice.gov.uk
    API_BASE_URL_ACTIVITIES: https://activities-api-preprod.prison.service.justice.gov.uk
    API_BASE_URL_APPOINTMENTS: https://activities-api-preprod.prison.service.justice.gov.uk
    API_BASE_URL_SENTENCE_ADJUSTMENTS: https://adjustments-api-preprod.hmpps.service.justice.gov.uk
    API_BASE_URL_COURT_SENTENCING: https://remand-and-sentencing-api-preprod.hmpps.service.justice.gov.uk
    API_BASE_URL_ADJUDICATIONS: https://manage-adjudications-api-preprod.hmpps.service.justice.gov.uk
    API_BASE_URL_NON_ASSOCIATIONS: https://non-associations-api-preprod.hmpps.service.justice.gov.uk
    # currently set to self for a mock API until real API is ready
    API_BASE_URL_FINANCE: https://prisoner-to-nomis-update-preprod.hmpps.service.justice.gov.uk
    API_BASE_URL_LOCATIONS: https://locations-inside-prison-api-preprod.hmpps.service.justice.gov.uk
    API_BASE_URL_ALERTS: https://alerts-api-preprod.hmpps.service.justice.gov.uk
    API_BASE_URL_CSIP: https://csip-api-preprod.hmpps.service.justice.gov.uk
    API_BASE_URL_CASENOTES: https://preprod.offender-case-notes.service.justice.gov.uk
    API_BASE_URL_INCIDENTS: https://incident-reporting-api-preprod.hmpps.service.justice.gov.uk
    API_BASE_URL_PERSONAL_RELATIONSHIPS: https://personal-relationships-api-preprod.hmpps.service.justice.gov.uk
    API_BASE_URL_ORGANISATIONS: https://organisations-api-preprod.hmpps.service.justice.gov.uk
    API_BASE_URL_VISIT_BALANCE: https://hmpps-visit-allocation-api-preprod.prison.service.justice.gov.uk
    API_BASE_URL_CORE_PERSON: https://hmpps-person-record-preprod.hmpps.service.justice.gov.uk
    API_BASE_URL_EXT_MOVEMENTS: https://external-movements-api-preprod.hmpps.service.justice.gov.uk
    API_BASE_URL_OFFICIALVISITS: https://official-visits-api-preprod.hmpps.service.justice.gov.uk
    REPORTS_SENTENCING_RECONCILIATION_ALL_PRISONERS: true
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION_CREATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION_UPDATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION_DELETED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-TYPES_UPDATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-ADDRESS_CREATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-ADDRESS_UPDATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-ADDRESS_DELETED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-EMAIL_CREATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-EMAIL_UPDATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-EMAIL_DELETED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-WEB_CREATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-WEB_UPDATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-WEB_DELETED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-PHONE_CREATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-PHONE_UPDATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-PHONE_DELETED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-ADDRESS-PHONE_CREATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-ADDRESS-PHONE_UPDATED: false
    FEATURE_EVENT_ORGANISATIONS-API_ORGANISATION-ADDRESS-PHONE_DELETED: false
    REPORTS_CONTACT-PERSON_PRISONER-CONTACT_RECONCILIATION_PAGE-SIZE: 10
    REPORTS_CONTACT-PERSON_PERSON-CONTACT_RECONCILIATION_PAGE-SIZE: 30

  # The name has max length of 21 chars (Cronjob name max length is 52 chars, including prefix "hmpps-prisoner-to-nomis-update-")
  # The type must exist in enum BatchType
  batchjobs:
    - name: activity-purge-dlq
      type: PURGE_ACTIVITY_DLQ
      schedule: "9-59/10 * * * *"
    - name: activity-mappings
      type: DELETE_UNKNOWN_ACTIVITY_MAPPINGS
      schedule: "15 7 * * 1-5"
    - name: visit-balance-recon
      type: VISIT_BALANCE_RECON
      schedule: "0 18 * * 1-5"
    - name: court-case-recon
      type: COURT_CASE_PRISONER_RECON
      schedule: "0 18 * * 1-5"
      suspend: true
    - name: court-case-a-recon
      type: COURT_CASE_ACTIVE_PRISONER_RECON
      schedule: "0 18 * * 1-5"
      suspend: true
    - name: official-visits-all-recon
      type: OFFICIAL_VISIT_ALL_RECON
      schedule: "30 5 * * SAT"
      suspend: true
    - name: official-visits-all-missing-recon
      type: OFFICIAL_VISIT_ALL_MISSING_RECON
      schedule: "30 3 * * SAT"
      suspend: true
    - name: official-visits-active-sch-recon
      type: OFFICIAL_VISIT_ACTIVE_SCH_RECON
      schedule: "30 2 * * *"
      suspend: true
    - name: prison-transactions-recon
      type: PRISON_TRANSACTIONS_RECON
      schedule: "00 2 * * *"
      suspend: true
    - name: prisoner-transactions-recon
      type: PRISONER_TRANSACTIONS_RECON
      schedule: "00 3 * * *"
      suspend: true
    - name: tap-all-prisoners-recon
      type: TAP_ALL_PRISONERS_RECON
      schedule: "30 2 * * *"
      suspend: true
    - name: visit-slots-recon
      type: VISIT_SLOTS_RECON
      schedule: "45 2 * * *"
      suspend: true


generic-prometheus-alerts:
  businessHoursOnly: true
  alertSeverity: syscon-nonprod
  sqsNumberAlertQueueMappings:
    visits:
      - "syscon-devs-preprod-hmpps_prisoner_to_nomis_visit_queue"
      - "syscon-devs-preprod-hmpps_prisoner_to_nomis_visit_dlq"
    incentives:
      - "syscon-devs-preprod-hmpps_prisoner_to_nomis_incentive_queue"
      - "syscon-devs-preprod-hmpps_prisoner_to_nomis_incentive_dlq"
    activities:
      - "syscon-devs-preprod-hmpps_prisoner_to_nomis_activity_queue"
      - "syscon-devs-preprod-hmpps_prisoner_to_nomis_activity_dlq"
    appointments:
      - "syscon-devs-preprod-hmpps_prisoner_to_nomis_appointment_queue"
      - "syscon-devs-preprod-hmpps_prisoner_to_nomis_appointment_dlq"
    sentencing:
      - "syscon-devs-preprod-hmpps_prisoner_to_nomis_sentencing_queue"
      - "syscon-devs-preprod-hmpps_prisoner_to_nomis_sentencing_dlq"
      - "syscon-devs-preprod-hmpps_prisoner_to_nomis_court_sentencing_queue"
      - "syscon-devs-preprod-hmpps_prisoner_to_nomis_court_sentencing_dlq"
    adjudications:
      - "syscon-devs-preprod-hmpps_prisoner_to_nomis_adjudication_queue"
      - "syscon-devs-preprod-hmpps_prisoner_to_nomis_adjudication_dead_letter_queue"
    nonassociations:
      - "syscon-devs-preprod-hmpps_prisoner_to_nomis_nonassociation_queue"
      - "syscon-devs-preprod-hmpps_prisoner_to_nomis_nonassociation_dead_letter_queue"
    locations:
      - "syscon-devs-preprod-hmpps_prisoner_to_nomis_location_queue"
      - "syscon-devs-preprod-hmpps_prisoner_to_nomis_location_dead_letter_queue"
    alerts:
      - "syscon-devs-preprod-hmpps_prisoner_to_nomis_alerts_queue"
      - "syscon-devs-preprod-hmpps_prisoner_to_nomis_alerts_dlq"
    casenotes:
      - "syscon-devs-preprod-hmpps_prisoner_to_nomis_casenotes_queue"
      - "syscon-devs-preprod-hmpps_prisoner_to_nomis_casenotes_dlq"
    csip:
      - "syscon-devs-preprod-hmpps_prisoner_to_nomis_csip_queue"
      - "syscon-devs-preprod-hmpps_prisoner_to_nomis_csip_dead_letter_queue"
    incidents:
      - "syscon-devs-preprod-hmpps_prisoner_to_nomis_incidents_queue"
      - "syscon-devs-preprod-hmpps_prisoner_to_nomis_incidents_dlq"
    personalrelationships:
      - "syscon-devs-preprod-hmpps_prisoner_to_nomis_personalrelationships_queue"
      - "syscon-devs-preprod-hmpps_prisoner_to_nomis_personalrelationships_dlq"
    organisations:
      - "syscon-devs-preprod-hmpps_prisoner_to_nomis_organisations_queue"
      - "syscon-devs-preprod-hmpps_prisoner_to_nomis_organisations_dlq"
    visitbalance:
       - "syscon-devs-preprod-hmpps_prisoner_to_nomis_visitbalance_queue"
       - "syscon-devs-preprod-hmpps_prisoner_to_nomis_visitbalance_dlq"
    externalmovements:
      - "syscon-devs-preprod-hmpps_prisoner_to_nomis_externalmovements_queue"
      - "syscon-devs-preprod-hmpps_prisoner_to_nomis_externalmovements_dlq"
    officialvisits:
      - "syscon-devs-preprod-hmpps_prisoner_to_nomis_officialvisits_queue"
      - "syscon-devs-preprod-hmpps_prisoner_to_nomis_officialvisits_dlq"
